[2015-05-15 20:22] fkautz opened #66 "Support using a signing key"
Signing keys are a scoped and time limited alternative to using access and private keys. Add support for using signing keys.

[2015-05-15 20:23] fkautz opened #67 "Add support for disabling logging"

[2015-05-15 20:24] fkautz opened #68 "Add better support for listing larger quantities of objects in a bucket"

[2015-05-15 20:24] fkautz opened #69 "Add support for listing larger quantities of uploaded parts in a multipart upload"

[2015-05-15 20:25] fkautz opened #70 "Expand and review javadoc of Client class"

[2015-05-15 21:05] fkautz opened #74 "Errors should be more meaningful"
At the moment, we throw IOException. We should throw more meaningful exceptions based on the type of error that occurred in addition to IOException.

[2015-05-16 22:36] fkautz commented on #66
Fixed with #81 and #82

[2015-05-16 22:36] #66 closed

[2015-05-17 03:01] fkautz commented on #74
Close with #87

[2015-05-17 03:01] #74 closed

[2015-05-17 03:06] #67 closed

[2015-05-18 20:04] fkautz commented on #69
Completed

[2015-05-18 20:04] #69 closed

[2015-05-18 20:04] fkautz commented on #68
Completed

[2015-05-18 20:04] #68 closed

[2015-05-21 04:04] fkautz opened #118 "Convert user agent to a set"
Client can be reused, addUserAgent should be a sorted set to prevent user agent duplication on append.

[2015-05-29 19:50] harshavardhana opened #127 "SetBucketACL fails on an existing bucket on s3"
The reason here is that we are not setting up "acl" url query string, so a setBucketACL operations ends up becoming a regular makeBucket operation.

[2015-05-29 20:55] #127 closed

[2015-06-09 19:16] #118 closed

[2015-06-09 19:18] fkautz opened #164 "Review error responses for errors that do not respond with data in the body"
A few examples may include 403 and 404 for certain calls. The responses of each call are inconsistent.

[2015-06-10 03:07] fkautz opened #168 "Find out how to pull in variables from gradle for user agent version"

[2015-06-11 18:31] fkautz commented on #168
Version is now stored in manifest on compile and retrieved from there. Default value is dev when executed outside of a jar with no manifest available.

[2015-06-11 18:31] #168 closed

[2015-06-16 04:13] #70 closed

[2015-06-16 04:14] #164 closed

[2015-07-10 04:10] fkautz opened #195 "Ignore the following headers:"
Authorization
Content-Type
Content-Length
User-Agent

[2015-07-10 18:20] harshavardhana commented on #195
https://github.com/minio/minio-go/pull/109 - add comments from this commit for ignored headers for more information for developers in future

[2015-07-10 21:22] #195 closed

[2015-07-12 18:44] fkautz opened #197 "ObjectStat does not return content type"

[2015-07-12 18:45] fkautz opened #198 "Setting content type to null results in a NPE"
[code]

[2015-07-12 20:27] fkautz opened #199 "get object with <= 0 length should fail before sending request"

[2015-07-12 20:39] fkautz opened #200 "Add get object with offset specifier"
It is useful for the user to be able to say getObject(bucket, key, offset). Currently, the user must specify the offset and length getObject(bucket, key, offset, length).

[2015-07-12 20:58] fkautz opened #201 "get object range should not return full object"
[code]
Expected: hello
Actual: hello world

[2015-07-12 21:46] fkautz opened #202 "list objects with recursion disabled doesn't return common prefixes"

[2015-07-12 23:25] #197 closed

[2015-07-12 23:37] harshavardhana opened #205 "Listbuckets signature mismatch with localhost:9000"
Checking what could be the issue..

[code]

[2015-07-12 23:42] harshavardhana commented on #205
Ah the headers should be ignored..

[code]

We have to perhaps filter these out before we send them in.

[2015-07-12 23:45] fkautz commented on #198
Fixed by #204

[2015-07-12 23:45] #198 closed

[2015-07-12 23:53] harshavardhana opened #206 "EOFException on listBuckets() when request sent to s3.amazonaws.com without access keys"
Listbuckets() operation should handle this with appropriate error.

[code]

[2015-07-12 23:54] harshavardhana opened #207 "NPE when no buckets are available un-authenticated requests to localhost:9000"
No buckets available on the server.

[code]

[2015-07-13 00:49] #199 closed

[2015-07-13 01:04] #201 closed

[2015-07-13 01:19] fkautz opened #212 "Bucket already exists is not handled by parse error"
Please open an issue with this bug at http://github.com/minio/minio-java
[code]

[2015-07-13 01:27] #200 closed

[2015-07-13 01:40] #202 closed

[2015-07-13 01:55] #205 closed

[2015-07-13 02:11] fkautz commented on #206
Can you check if this is still a problem?

[2015-07-13 02:15] harshavardhana commented on #205
Interesting part here is that even after skipping user-agent through ignoredheader it is still being sent through the signature stream, we need to see why and also some odd accept-encoding header is also sent. Perhaps this is due to some Google's own header addition through their http client package.

Also looks like 'date' and 'x-amz-date' both are being set either one would suffice as signed hea

[2015-07-13 02:17] fkautz commented on #205
I don't feel comfortable unsetting either, x-amz-date is the recommended way for signing V4, but simultaneously unsetting date may have adverse issues with proxies. They are both forced to the same value, so should be ok.

[2015-07-13 02:18] harshavardhana commented on #206
Yes its fixed.

[code]

[2015-07-13 02:21] fkautz commented on #206
Can you enable debugging and rerun this?

[2015-07-13 02:24] harshavardhana commented on #206
The issue is that without access keys for  's3.amazonaws.com' listBuckets() returns '307'

So we need to handle TemporaryRedirect

[code]

[2015-07-13 02:32] fkautz commented on #206
Also, list buckets shouldn't return a 307... can you turn on debugging still?

        client.enableLogging();

[2015-07-13 02:46] harshavardhana commented on #205
Setting them as part of a header is benign, but using them as part of signature signing is not - either one should be used.

Minimal headers which i see being sent by other libraries for a list_buckets() should be just the following.

Python list_buckets.py
[code]

Javascript list_buckets.js
[code]

Golang list-buckets.go
[code]

[2015-07-13 02:46] fkautz commented on #206
Handling redirect and treating redirect on listbuckets (GET on /) as Forbidden.

[2015-07-13 02:53] #206 closed

[2015-07-13 02:56] harshavardhana commented on #206
with debugging

[code]

[2015-07-13 03:04] #207 closed

[2015-07-13 03:26] #212 closed

[2015-07-13 03:28] fkautz commented on #205
They don't show up on the list since it is non destructive, but probably do show up on put.

[2015-07-13 03:30] fkautz commented on #205
Let's leave the date header set but remove it from the signed list

[2015-07-13 04:29] fkautz opened #221 "Resuming a large upload re-submits data where md5sum matches"

[2015-07-13 04:53] #221 closed

[2015-07-15 04:12] harshavardhana opened #223 "ForbiddenException should be thrown instead of boolean as false for bucketExists() on unauthenticated private bucket"
[code]

[2015-07-15 04:13] harshavardhana opened #224 "listAllIncompleteUploads seems to be a public method - minor change"
[code]

[2015-07-15 04:14] harshavardhana opened #225 "unauthenticated makeBucket() should result in ForbiddenException instead results in MalformedXML with s3"
[code]

[2015-07-15 04:15] harshavardhana opened #226 "Minior change - we have to expose getPartialObject() method like other libraries"

[2015-07-15 05:45] fkautz commented on #223
This was brought up earlier in design and we had decided to take this approach instead. So, this is pretty consistent across all libraries. We could change it.

[2015-07-15 06:16] harshavardhana commented on #223
The reason was that perhaps i was looking at minio-js wasn't replying in the same manner.

It is okay for a successful request to go through and we receive a 404 to reply back as "false" but not 403 or any other errors. Since those are regarded as something we don't expect, that is why the would fall in Exception category.

[2015-07-15 20:03] #224 closed

[2015-07-15 20:06] fkautz commented on #226
Libraries that support overloading simply use getObject. Those that don't use getPartialObject as a workaround. .NET library also uses overloading.

[2015-07-15 20:07] #223 closed

[2015-07-15 20:07] fkautz commented on #225
This should be fixed with #229.

[2015-07-15 20:07] #225 closed

[2015-07-15 21:19] harshavardhana commented on #226
It would make it simpler if all libraries do the same, overloading works for now. Closing this

[2015-07-15 21:19] #226 closed

[2015-07-15 21:41] fkautz commented on #226
We could make this change, now is the time to do it :)

[2015-07-16 20:55] harshavardhana opened #233 "Perhaps should handle 501 as well, since that is reply minio server sends back for a DELETE() request"
[code]

[2015-07-16 21:49] #233 closed

[2015-08-10 19:05] harshavardhana opened #255 "statObject tries to read error body - throws an invalid exception"
HEAD request on an object has no body, it shouldn't try to read

[code]

[2015-08-11 00:04] harshavardhana commented on #255
Invalid issue cannot reproduce it.. closing it for now.

[2015-08-11 00:04] #255 closed

[2015-08-13 09:21] harshavardhana opened #261 "Signature does not match for object names with "++" in them since okhttp transform them as "%20" space characters,"
[code]

[2015-08-15 04:03] harshavardhana commented on #261
fixed by #263

[2015-08-15 04:03] #261 closed

[2015-09-17 21:13] harshavardhana opened #269 "Review test cases and finish all the remaining tests"

[2015-09-24 05:28] harshavardhana opened #270 "Parallelize multipart upload to 4 concurrent threads, just like minio-go library."

[2015-09-25 23:30] harshavardhana opened #271 "Implement support for storing x-amz-meta-* information"

[2015-10-21 00:24] harshavardhana opened #273 "Support HTTP2 across all libraries.. for all servers supporting HTTP2"

[2015-10-26 08:04] harshavardhana opened #278 "Review all examples and test them for their validity."

[2015-11-13 06:50] harshavardhana opened #284 "Implement postpolicy content-length"

[2015-11-13 06:51] harshavardhana opened #285 "Implement support for virtual hosted style for buckets"

[2015-11-13 20:02] #278 closed

[2015-11-24 01:50] harshavardhana commented on #285
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-24 01:50] harshavardhana commented on #284
Remove #future label on this - we need to get this completed across all libraries.

[2015-11-26 08:15] krishnasrinivas opened #288 "convert minio-java to a stateless library"
Convert the APIs to follow this style:
[code]

[2015-11-26 16:19] simonedavico opened #289 "AuthorizationHeaderMalformed: the region is wrong when using MinioClient to query local minio"
I have setup a minio instance on my machine, running in a docker container through the [Docker minio image](https://hub.docker.com/r/minio/minio/). I tried to add and list buckets from `mc`, with no issue.

Anyway, when I try to list the buckets with a library call, I get the following error:

[code]

I just started playing around with minio today, so I don't know if this is a bug in the library o

[2015-11-26 18:15] harshavardhana commented on #289
There was a recent change on minio server which changed the default region from 'milkyway' to 'us-east-1' to cater for other S3 compatible services.

You should use the 0.2.5 version of the released java library for now, since you are using the docker image for 'minio' which is still not updated with the latest master.

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.minio%22%20AND%20a%3A%22

[2015-11-26 18:18] simonedavico commented on #289
The above code runs fine now, thank you!

[2015-11-26 18:21] harshavardhana commented on #289
Closing the issue, feel free to open new ones if you have new issues or questions.

[2015-11-26 18:21] #289 closed

[2015-11-28 03:25] harshavardhana commented on #288
Current style is correct in case of Object Oriented languages, this change is not needed anymore. We are going to stick with this change only for functional languages.

Closing this bug.

[2015-11-28 03:25] #288 closed

[2015-11-28 04:28] harshavardhana opened #291 "Error handling is badly written - rewrite it."
Current error handling puts all the error messages into an gigantic "parseError()" function.

The problem comes when solely on the basis of "statusCode" one constructs an exception - for example RemoveBucket.

[code]

Should throw BucketNotEmptyException but instead throws AccessDeniedException.  This is perhaps the result of writing code in this way

[code]

[2015-11-30 07:30] harshavardhana opened #293 "Do not buffer use temporary files for individual parts before uploading"

[2015-11-30 07:30] harshavardhana opened #294 "putObject with length '-1' should do 5GB multipart upload"

[2015-11-30 07:30] harshavardhana opened #295 "putObject should have content length as last argument"

[2015-11-30 07:31] harshavardhana opened #296 "Disallow any other endpoint other than https://s3.amazonaws.com"

[2015-11-30 07:31] harshavardhana opened #297 "Rename set_user_agent as set_app_info"

[2015-11-30 07:32] harshavardhana opened #298 "Resumable downloads need to be provided for minio java"

[2015-11-30 07:32] harshavardhana opened #299 "make_bucket - needs to have location argument"

[2015-12-01 03:15] harshavardhana opened #300 "All arguments for all functions should have native types"
For example in Golang in PresignedGetObject

[code]

Expires argument is time.Duration which is a native type under Golang ecosystem, we should make sure that wherever possible we should take native types.

[2015-12-11 03:04] harshavardhana opened #305 "Verify multipart uploads with concatenated md5sum at the end which server sends back."
Concatenation happens on the hexadecimally encoded md5's of individual parts on the server side during completemultipart upload.

Verify them and throw appropriate error.

[2015-12-16 01:52] harshavardhana opened #308 "Remove logger inside Java"
https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/MinioClient.java#L107

[2015-12-16 17:42] harshavardhana commented on #305
This is not necessary.

[2015-12-16 17:42] #305 closed

[2015-12-16 17:43] harshavardhana commented on #296
Fixed in master.

[2015-12-16 17:43] #296 closed

[2015-12-16 17:49] harshavardhana opened #309 "Missing usage of Content-Type in putObject"
https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/MinioClient.java#L1155

[code]

It is not used as part of HTTP header.

Another issue is that putObject of individual parts do not need contentType it is only needed during

[code]

[2015-12-16 17:53] harshavardhana opened #310 "list incomplete uploads needs to aggregate multipart size"
[code]

[2015-12-21 04:01] #298 closed

[2015-12-21 04:01] #294 closed

[2015-12-21 17:48] #285 closed

[2015-12-22 04:59] #297 closed

[2015-12-22 05:00] #293 closed

[2015-12-22 05:00] #291 closed

[2015-12-22 16:10] #299 closed

[2015-12-23 12:52] koolhead17 opened #317 "unexpected "PresignedPutObject.java" behavior"
I am trying https://github.com/minio/minio-java/blob/master/examples/PresignedPutObject.java example and this is the below mentioned error am getting.
[code]

[2015-12-23 12:55] koolhead17 opened #318 "unexpected "RemoveIncompleteUpload.java" example output"
I am trying https://github.com/minio/minio-java/blob/master/examples/RemoveIncompleteUpload.java  but even after executing the commend my Incomplete objects are not getting removed.

[2015-12-23 12:58] koolhead17 opened #319 "Modification: SetBucketAcl.java example."
I am trying https://github.com/minio/minio-java/blob/master/examples/SetBucketAcl.java examples, we should use options like ACL being "Public" here because MakeBucket.java creates buckets which are Private by default.

[2015-12-23 13:01] koolhead17 opened #320 "Modification: GetObject.java and GetPartialObject.java output"
Hi,
The output is like this, we should get more meaningful example output.
![screen shot 2015-12-23 at 6 30 59 pm](https://cloud.githubusercontent.com/assets/41746/11976946/5d4fdd96-a9a3-11e5-90e5-3933122d2868.png)

[2015-12-23 13:43] koolhead17 commented on #317
My bad need some coffee it seems, got confused with PresignedPostObject.java. closing this.

[2015-12-23 13:43] #317 closed

[2015-12-23 14:03] koolhead17 opened #321 "unexpected "PresignedPostPolicy" output"
[code]
The output should be

[code]

Else it will throw error and this will not work.

[2015-12-28 08:23] krishnasrinivas opened #324 "implement tracing"
implement apis:
TraceOn(traceFilePath)
TraceOff()
This should trace the HTTP calls made similar to mc --debug and also should trace any useful information - like if the region is getting used from cache, region map invalidation, if during resume of putObject/fPutObject it should log if it is continuing from where it left off or reuploading etc.
In the functional tests tracing should be 'on'. We sh

[2015-12-29 03:40] #271 closed

[2015-12-29 03:40] #270 closed

[2015-12-30 18:24] #324 closed

[2016-01-04 12:04] krishnasrinivas opened #330 "trace should dump xml"
trace output should dump xml body if available when s3 returns error.

[2016-01-04 19:45] harshavardhana opened #331 "Limit the amount of readable data from response body, honor content-length in response headers."

[2016-01-08 05:32] harshavardhana commented on #331
Looks like Content-Length is not set for all the S3 call replies, there is no easier and effective way to verify server sending malicious data right now, since S3 itself doesn't set Content-Length.

The reason is also i think they don't set Content-Length is since server is sending data with Transfer-Encoding set to 'chunked' . Because of this reason they do not have to. Since they guarantee that

[2016-01-08 20:20] #331 closed

[2016-01-12 21:59] #284 closed

[2016-01-12 21:59] #308 closed

[2016-01-12 21:59] #330 closed

[2016-01-12 22:00] #295 closed

[2016-01-13 03:13] #309 closed

[2016-01-13 07:25] #310 closed

[2016-01-15 00:08] harshavardhana opened #337 "Set Expect header 100-continue for put requests"
[code]

[2016-01-15 00:25] harshavardhana commented on #337
[code]

[2016-01-17 00:14] harshavardhana commented on #337
To keep note of while implementing this feature - https://tools.ietf.org/html/rfc7231#page-35

[code]

[2016-01-18 12:10] balamurugana opened #339 "parallel multipart put fails inconsitently"
When ```MinioClient.putObject()``` is used in a multiple threads to achieve upload different objects throw XML parsing/EOF Exceptions inconsistently.
However ```MinioClient.putObject()``` works fine for smaller object ie <= 5MiB in many more threads.

[2016-01-18 12:13] balamurugana opened #340 "Use okhttp network interceptor for trace"

[2016-01-18 12:14] balamurugana opened #341 "make putobject to support unknown sized stream"

[2016-01-18 12:14] balamurugana commented on #321
fixed in master

[2016-01-18 12:14] #321 closed

[2016-01-18 12:15] balamurugana commented on #320
fixed in master

[2016-01-18 12:15] #320 closed

[2016-01-20 02:24] #339 closed

[2016-01-20 06:15] koolhead17 commented on #318
Closing this as this works now.

[2016-01-20 06:15] #318 closed

[2016-01-28 03:26] notnoopci opened #346 "Next release?"
Looks like there has been significant and backward-compatibility breaking changes in the API since release 0.2.6, cut on Nov 25, 2015.  What's the timeline for the next release?

[2016-01-28 03:31] harshavardhana commented on #346
We are currently concentrating our efforts towards 'minio' server, we will be making a release subsequently. Current master is stable with no more drastic API changes and is release candidate ready.

[2016-01-28 03:39] notnoopci commented on #346
Thanks for the fast response!  I can deploy an RC build to an internal Maven repo in that case - wish there is a more recent version in Maven Central.

[2016-01-28 03:41] harshavardhana commented on #346
I will see if we can steer this up as RC and upload to make.  I will keep you posted

[2016-01-28 09:36] #319 closed

[2016-01-30 02:32] harshavardhana commented on #346
https://github.com/minio/minio-java/releases/tag/1.0.0 - We have made a 1.0.0 release. Should be available in maven shortly.

Fixed by https://github.com/minio/minio-java/commit/9dfdf15a815043d0d02420d31204cd027b5bd832

[2016-02-02 23:27] balamurugana opened #348 "listObjects should not send empty query parameters when executing http request"
when executing listObjects(), optional query parameters are set to empty values even if they are not requested.  Below is a http trace
[code]

In the above its not required to send delimiter as its empty

[2016-02-04 09:50] harshavardhana commented on #346
Closing.. minio-java released.

[2016-02-04 09:50] #346 closed

[2016-02-05 15:14] balamurugana opened #349 "host header is not set properly when s3 service is running non-standard port"
If s3 service is running in non-standard port ie not in 80/443, Host request header should add port like host:port

[2016-02-05 18:18] #348 closed

[2016-02-05 18:18] #349 closed

[2016-02-05 23:27] balamurugana opened #351 "expect null etag for StatObject"
It is possible to get null ETag from s3 service which is valid.  This case needs to be handled.

[2016-02-06 00:14] #351 closed

[2016-02-06 08:08] harshavardhana opened #353 "java.io.IOException: unexpected end of stream on com.squareup.okhttp.Address@170573c4"
[code]

Works fine with an 'http://10.0.0.3:9000'

[2016-03-01 11:20] iglaweb commented on #353
I have the same issue, use okhttp 2.7.5, the error appears while downloading big files over https (600 Mb).

[2016-03-01 13:50] simonedavico opened #354 "Library fails while constructing ErrorResponse"
I was trying to contact my Minio instance specifying a wrong address earlier, and it seems like error reporting is broken. `ErrorResponse.parseXml` throws some exception about the xml being malformed.

Stack trace:

[code]

[2016-03-02 06:09] balamurugana commented on #354
I see ```errorResponse = new ErrorResponse(new StringReader(errorXml));``` fails due to wrong xml format/content from http body.

Is it possible to provide what http body content it got?

[2016-03-02 09:50] simonedavico commented on #354
Of course, if you can suggest me how to retrieve it. `minio-java` doesn't implement any kind of logging, right?

[2016-03-04 19:37] harshavardhana commented on #354
@simonedavico - there is way to enable  `s3Client.traceOn(stream)`

[2016-03-07 10:59] simonedavico commented on #354
Thank you! I will investigate the issue ASAP and report here.

[2016-03-09 09:36] dreamquster opened #355 "MonioClient write/read file exception when filename has special charactor such as ;,u&."
filename:u=2068517125,4062313322&fm=21&gp=0.jpg
error message:
time="2016-03-09T16:26:31+08:00" level=error msg="CreateObject failed." Error={The request signature we calculated does
not match the signature you provided fs.SignatureDoesNotMatch [{296 C:/mygo/src/github.com/minio/minio/pkg/fs/fs-object.
go fs.Filesystem.CreateObject map[]} {200 C:/mygo/src/github.com/minio/minio/object-handlers.go

[2016-03-09 09:51] harshavardhana commented on #355
@dreamquster - is it possible to reproduce this consistently? can you provide a sample program that we can use to reproduce this ?

Thank you

[2016-03-09 11:00] dreamquster commented on #355
[code]

[2016-03-09 17:28] harshavardhana commented on #355
Thanks, will let you know..

[2016-04-09 00:18] harshavardhana commented on #354
Checking back on this were you able to investigate this furher?

[2016-04-25 21:04] harshavardhana opened #364 "listObjects if bucket is empty causes NullPointer exception"
[code]

[code]

[code]

[2016-04-25 21:26] harshavardhana commented on #355
@dreamquster this seems to be working fine with latest minio release and minio-java can you validate again? here is my test program

[code]

[2016-04-26 16:29] simonedavico commented on #354
Sorry, not yet. I've been very busy with my thesis in the last few months, and completely forgot about the issue. I will try to do it in the next few days.

[2016-04-26 17:32] harshavardhana commented on #354
No problem @simonedavico, all the best on your thesis :-)

[2016-05-04 09:02] harshavardhana opened #367 "java: new checkstyle violations"
[code]

[2016-05-09 05:58] balamurugana opened #371 "empty XML name space causes MalformedXML"
Full description is available at https://github.com/minio/minio/issues/1531

[2016-05-13 05:36] balamurugana opened #373 "remove all Acl related classes and methods"
We don't support ACL in minio-java

[2016-05-13 06:08] deekoder opened #375 "Change insecure to secure variable"
According to our discussions : If language supports default params without asking the user to pass them, use it. Otherwise force user to pass the default.

[2016-05-13 18:41] #373 closed

[2016-05-13 20:24] #371 closed

[2016-05-13 20:55] #364 closed

[2016-05-14 08:40] harshavardhana opened #380 "api: Add GetBucketPolicy, RemoveBucketPolicy and SetBucketPolicy"
For reference implementation look at - github.com/minio/minio-go

[2016-05-14 08:48] harshavardhana commented on #355
Closing as its not reproducible anymore.

[2016-05-14 08:48] #355 closed

[2016-05-16 00:18] #375 closed

[2016-05-25 14:38] koolhead17 opened #384 "missing fput & fget examples"
minio-java client library does not have  fput & fget examples unlike other client API examples.

[2016-06-02 06:33] #384 closed

[2016-06-06 17:34] krishnasrinivas opened #391 "multipart: complete multipart upload should process white space characters after 200 OK"
http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadComplete.html

`
Processing of a Complete Multipart Upload request could take several minutes to complete. After Amazon S3 begins processing the request, it sends an HTTP response header that specifies a 200 OK response. While processing is in progress, Amazon S3 periodically sends whitespace characters to keep the connection from timing out.

[2016-06-13 01:36] meggarr opened #397 "Java async client for minio"
Would you please add **async** support in Java API for all operations, including _buckets_, _objects_, and all other client operations?

Note: **Future** is the Java's way to do async, compared to NodeJS's callback handler. If it can get a **Future** in the implementations, the API will be compatible with the JDK9 flow in the future, and also compatible with existing Java async libraries, e.g. Ver

[2016-06-17 17:45] danyaljj opened #406 "Does the java client support local caching?"
Suppose I download a file from remote server once. Does it cache it locally?
In other words, the second time that I read it, does it read from the server again (slow), or it reads it from cache locally (fast)?

[2016-06-17 17:51] danyaljj opened #407 "How to set permissions on files?"
Is it possible to make an object private and another one public? (like accessible by anonymous)? (at the time of putting object with `putObject`)

[2016-06-20 17:27] GarimaKapoor commented on #407
All objects by default are uploaded as private on putObject. To make an object public, you would use Set Bucket Policy API explicitly. For golang we have implemented the bucket policy API https://github.com/minio/minio-go/blob/master/API.md#SetBucketPolicy
If you need this API soon we will implement and make a new release soon. Server already has support.

[2016-06-20 17:29] danyaljj commented on #407
I need it in the java api. Would be great if you add this setting.

[2016-06-20 17:33] GarimaKapoor commented on #407
Sure, on it :)

[2016-06-20 18:23] balamurugana commented on #406
minio-java doesn't cache downloads.  However minio-java has one version of [getObject()](http://minio.github.io/minio-java/io/minio/MinioClient.html#getObject-java.lang.String-java.lang.String-java.lang.String-) which downloads to a given file.  Repeated `getObject()` to the file will not download again unless S3 server has a change.

This way we could achieve the caching.

[2016-06-20 18:30] danyaljj commented on #406
This is cool!

[2016-06-20 18:30] #406 closed

[2016-06-20 19:14] danyaljj opened #408 "Show progress when putObject?"
Is there a way to print out the upload progress when using `putObject`? Like for big files I would very much prefer to see how fast it is being uploaded.

[2016-06-20 19:21] balamurugana commented on #408
Currently there is no support in put/get Object progressing status.

[2016-06-20 19:27] danyaljj commented on #408
Any simple way to do it? I can help too...

[2016-06-20 19:39] danyaljj opened #409 "SocketTimeoutException"
I keep getting `SocketTimeoutException` exceptions.
Any ideas what potentially causes this?
On a similar note, how can I set the timeout parameters? (if they are exposed to the java api).

[code]

[2016-06-20 21:11] harshavardhana commented on #409
is the endpoint s3? what the size of the object being uploaded?

[2016-06-20 21:13] danyaljj commented on #409
The end point is our own server.
The file is around 2MB. I was thinking it might be because our network is slow. Still even if that's the problem, this is not an informative error reporting ...

[2016-06-20 21:19] harshavardhana commented on #408
We are going to add async support to Java API which would provide this feature.  Currently there is no simple way to do it.

[2016-06-20 21:21] harshavardhana commented on #409
Okay the timeout happens at network layer, to make this informative we just have to catch and provide some other exception but i don't know if that helps either way.

The exception is generated by the HTTP library, it is not ideal to catch these exceptions.

[2016-06-20 21:23] danyaljj commented on #409
Still, you should have a way to set some timeouts; right?

[2016-06-20 21:47] harshavardhana commented on #409
There is no way to set it right now but okhttp library would certainly have it. We will explore and provide a way to do it.

[2016-06-21 01:09] harshavardhana opened #410 "api: ListObjects ignore StorageClass == 'glacier'"

[2016-06-21 14:57] RBoelter opened #411 "Date Parsing - IllegalArgumentException: Invalid format"
Hi,
minio-java throws the following exception for every MinioClient funktion (putObject, getObject, bucketExists, ...). Putting and getting objects works fine, but this exception is a bit irritating.

Thanks for help.

Cheers,
Ronny

Jun 21, 2016 4:26:29 PM io.minio.http.HeaderParser set
INFORMATION: setter: setDate
Jun 21, 2016 4:26:29 PM io.minio.http.HeaderParser set
INFORMATION: annotation: Da

[2016-06-21 16:00] balamurugana commented on #411
It looks like HTTP header does not have time in right format.  Can you add more information about the server you use?

Currently the library expects `Date:` header in the response.  I see this value is mostly used for debugging purpose.

[2016-06-21 16:10] RBoelter commented on #411
I'm using a Apache Tomcat/8.0.30 (JVM 1.8.0_91-b14) on Ubuntu (3.19.0-61-generic). My time format is usally GMT. I think the parsing error occurs on the lastModified time, because if i use minioClient.statObject i get a java.lang.NullPointerException	at io.minio.ResponseHeader.lastModified(ResponseHeader.java:129)

[2016-06-22 03:14] balamurugana commented on #411
@RBoelter I couldn't able to reproduce the error.  Can you please try with version

[code]

[2016-06-22 15:36] balamurugana commented on #397
@meggarr is this https://github.com/balamurugana/minio-java/commit/bdf052316f4ffa5604fb9d46e24502aebfef26d2 patch good enough to solve this issue?

[2016-06-23 11:35] harshavardhana opened #413 "api: Implement support for ListObjectsV2. supporting new S3 list version 2 type."

[2016-06-23 12:11] RBoelter commented on #411
@balamurugana

Server is now running with this version:
[code]
and i have build a minio-java.jar (#412) but the exception is still thrown.

I have a further question: Have you any plans to build a feature for synchronisation/replication between different minio servers, or is it already included and i didn't found it? I have to ask, because I want to use minio as file server for research data and i

[2016-06-23 12:36] hackintoshrao commented on #411
@RBoelter : Thanks for reporting. @balamurugana  will look into the problem and revert back soon.

- Minio provides a easy to use tool called [minio client(mc)](https://github.com/minio/mc) to administer the Minio instance.  Here is the link to the quick start guide for `mc` https://docs.minio.io/docs/minio-client-quick-start-guide.
- Using this command called `mc mirror` you can easily replicate

[2016-06-23 13:13] balamurugana commented on #411
@RBoelter

quite strange! I couldn't able to reproduce this problem in my machine.  Can you enable tracing by `minioClient.traceOn(System.out)` and paste the output?

If possible, please share your machine information of minio server and minio-java client.  I think there could be a machine configuration issue.

[2016-06-23 14:45] RBoelter commented on #411
hi, no worries - here is the trace:
[code]
I will try the (GET/PUT) Operation with mc as soon as possible and send you the debug information. What kind of machine information do you need? Minio server and my java application which includes the minio-java is running on a virtual machine (VMWare) with an Ubuntu 14.04., but in addition i tested both on my Windows 10 machine with a local Minio Server

[2016-06-23 14:50] balamurugana commented on #409
Timeout can be done in okhttp by https://github.com/square/okhttp/wiki/Recipes#timeouts

[2016-06-23 18:43] balamurugana commented on #411
@RBoelter I see below trace back.
[code]

I am trying with the string locally whether I am getting `IllegalArgumentException`

[2016-06-24 13:16] RBoelter commented on #411
I have found a solution:
It is a bit weird, because on the first view everything looks fine with the date, and in the HTTP logtrace the used date is "Date: Fri, 24 Jun 2016 13:03:26 GMT" for example, but during parsing the date, it seems, that the parser has a problem with the 3 letter of the day of the week at the beginning of the time string. It accepts 'EE', but it crashes at 'EEE' formatted St

[2016-06-24 13:31] RBoelter commented on #411
The last (but for me not so important) problem is, that the upload time is uncorrect, because it shows

 but my local time is

.I think, it occurs because of the missing time difference information after GMT. Usually it looks like "GMT+02:00".

[2016-06-24 14:17] balamurugana commented on #411
@RBoelter Thanks a lot for debugging :)

This is quite weird.  However a test program works fine though.
[code]

[code]

Please check the test program your side.

[2016-06-24 14:23] balamurugana commented on #411
@RBoelter

As the time ` Fri, 24 Jun 2016 13:23:02 GMT` is in GMT, this is correct as per your local time.

[2016-06-26 03:59] danyaljj commented on #407
Any ideas when this will be available?

[2016-06-26 05:47] GarimaKapoor commented on #407
Right now all of us are working on the stable release of the server. Once we get that out (one week from now), we will start working this API as priority.

[2016-06-27 11:05] RBoelter commented on #411
Yes, you're right - my fault.

I used your test code on my windows machine and on my server:

**Server:**

[code]

Result:

[code]

**Windows Computer:**

[code]

Result:

The same exception.

I found out, that my solutuion i posted before is not working on all weekdays, because the shortcut for friday in english is fri and in german it is freitag = fr.

Running your test program with

`"Tue, 28 J

[2016-06-27 11:20] RBoelter commented on #411
I have changed your code in the DateFormat.java to the following and deleted my other solution. Now it looks good.

[code]

[2016-06-27 14:33] balamurugana commented on #411
@RBoelter thanks a lot for tracing down the problem.

Taking these changes now.

[2016-06-28 06:24] #411 closed

[2016-06-28 06:25] harshavardhana commented on #410
Don't need to do this, it is applications problem to discard looking at ListObjects output.

[2016-06-28 06:25] #410 closed

[2016-07-01 05:15] krishnasrinivas opened #415 "Disable sha256 computation for https"
When given endpoint is HTTPS, we wouldn't need to compute SHA-256 for request body instead "UNSIGNED-PAYLOAD" as SHA-256 hash needs to be used in request header `x-amz-content-sha256`

[2016-07-05 07:43] meggarr commented on #397
@balamurugana I think this is only a simple wrapper around synchronous call with thread pool. It is good that we have API that returns `Future`, but on the other hand, can it do the **true async** in a lower level? E.g. without providing a thread pool, can it register a listener/handler that can be called when it has a result?

If it cannot provide a way in listener/handler, I think the user can s

[2016-07-11 07:34] nl5887 commented on #407
@danyaljj expect it this week. We're documenting and testing now.

[2016-07-14 16:00] rafaelsisweb opened #419 "DateTimeFormatter exception!"
Throwing exception in DateTimeFormat (line 370) when put to sa-eas-1 region.

This exception just happen during "updateRegionCache(bucketName);"

Even with this exception the file is sent well.

[code]

[2016-07-15 01:43] balamurugana commented on #419
@rafaelsisweb This issue is fixed by https://github.com/minio/minio-java/commit/ff1d0aedf5b6e3ccc10b5e4423b914a015012222 in current master.  Can you check whether its working for you?

[2016-07-15 02:05] #415 closed

[2016-07-15 05:42] #409 closed

[2016-07-15 05:43] harshavardhana commented on #391
Using minio server with FS for a 1GB file can be easily used to test this scenario @balamurugana

[2016-07-15 09:17] #391 closed

[2016-07-15 13:05] rafaelsisweb commented on #419
hy @balamurugana i'll check that.

PS: It's possivel to deliver a SNAPSHOT version on maven repository?

[2016-07-15 16:20] harshavardhana commented on #419
@rafaelsisweb will be uploading a new release today.

[2016-07-16 00:34] harshavardhana commented on #419
@rafaelsisweb - http://search.maven.org/#artifactdetails%7Cio.minio%7Cminio%7C2.0.1%7Cjar

[2016-07-22 08:27] #407 closed

[2016-07-22 08:27] harshavardhana commented on #419
@rafaelsisweb closing this, please re-open if seen again.

[2016-07-22 08:27] #419 closed

[2016-07-22 08:28] harshavardhana commented on #380
Fixed by #422

[2016-07-22 08:28] #380 closed

[2016-07-24 00:11] harshavardhana opened #428 "Fix API.md and add examples for Set/GetBucketPolicy API."

[2016-07-24 13:05] nl5887 commented on #428
fixed by #429

[2016-07-24 17:45] #428 closed

[2016-07-25 00:48] koolhead17 opened #430 "update Javadoc with bucket policy"
We need to update http://minio.github.io/minio-java/ with the bucket policy implementation @harshavardhana @nl5887 @balamurugana 😄

[2016-07-25 06:24] koolhead17 opened #432 "Rearrange bucket policy content in Readme and API.md doc"

[2016-07-25 07:56] #432 closed

[2016-07-25 17:06] danyaljj commented on #407
Some clarification:
So I see the policies here: https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/policy/BucketPolicy.java#L20-L24

I wonder how they match to what I want. What I want is:
 - Some objects should be private, meaning that you'd get them only if you have the right username-pass.
 - Some objects should be public, meaning that you can get them even if you don't have

[2016-07-25 17:31] harshavardhana commented on #407
By default all objects are private.

Normally publicly available objects are kept inside a prefix as 'public'  all you have to do now is

[code]

[2016-07-25 17:56] danyaljj commented on #407
Thanks for clarifying it; two other questions;
 - In [this example](https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/MinioClient.java#L2159) the 2nd argument ("my-objectname") is wrong?
 - what are other possibly values for the 2nd argument other than "public"?
 - what are statements?: https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/MinioClient.java#L21

[2016-07-25 18:08] harshavardhana commented on #407
A statement is a representation of the policies you have it is a standardized format published by AWS S3.  http://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies.html

Any object prefix, "public" is just as an example. For example you can have `2015/photos/old`

why is that? "my-objectname" is just a placeholder you can name it whatever you feel like.

[2016-07-25 21:18] danyaljj commented on #407
Just to make sure I understand: setting the `BucketPolicy` to `ReadOnly` would make the bucket public?

[2016-07-26 01:20] harshavardhana commented on #407
Bucket policies are quite elaborate from what S3 implements, what is provided with minio-java is a more consumable variant by trimming down the details to bare minimal.

Setting a bucket policy in this form.

``SetBucketPolicy('testbucket', '', BucketPolicy.ReadOnly)`` - would make your entire bucket i.e 'testbucket' publicly readable.  Notice second argument is missing.

``SetBucketPolicy('testbu

[2016-07-26 07:37] harshavardhana opened #434 "docs: README.md docs regarding building fileUploader.java is wrong"
#### Compile FileUploader

[code]

#### Run FileUploader

[code]

`minio-2.0.1.jar` should `minio-2.0.1-all.jar` which carries all the dependencies as well.  Above example doesn't compile otherwise.

[2016-07-26 07:38] NitishT opened #435 "getBucketAccessPolicy(bucketName, objectPrefix) returns null"
Create a Bucket and an Object

[code]

Then try to set policy using
[code]
The line
[code]
in setBucketPolicy() sets the policy to null.

[2016-07-26 07:42] harshavardhana commented on #434
Also `java -cp` doesn't work. should be

[code]

NOTE: we shouldn't provide the `.java` again.

[2016-07-26 07:51] harshavardhana commented on #435
Following example seems to be working fine

[code]

[2016-07-26 07:54] NitishT commented on #435
I was trying to do this via a test case

[code]

[2016-07-26 07:55] NitishT commented on #435
Is there something I am missing here?

[2016-07-26 07:56] harshavardhana commented on #435
Something to do with MockServer.

[2016-07-26 15:59] NitishT commented on #435
I took the changes from @nl5887 and executed the same test. Now there is a timeout.

Any suggestions on how to go about writing the test case?

[code]

[2016-07-27 07:32] nl5887 commented on #435
In your example you're enqueuing one response, with two requests. The second request is waiting for a response, but that one is not enqueued.

Enqueue responses equally with the number of requests. Also it will be great to mock the exact responses from minio / s3, setting body, content-type and status code. You can see what is being returned by using `mc -debug ...commands...` .

Enqueing extra re

[2016-07-27 07:46] NitishT commented on #435
Thanks @nl5887 I will try this.

Will keep you posted.

[2016-07-28 20:17] harshavardhana opened #437 "api: Implement SetBucketNotification, GetBucketNotification, RemoveAllBucketNotification"

[2016-07-29 07:09] NitishT commented on #435
Closing this as the null response has been handled and the issue was with the test case.

[2016-07-29 07:09] #435 closed

[2016-07-29 07:16] harshavardhana commented on #435
Thanks @NitishT

[2016-07-29 07:16] NitishT commented on #435
This is the updated test case after comments from @nl5887
[code]

This is passing locally. Could @nl5887 or @harshavardhana please take a look if this is the correct way to do this. I will then create a pull request.

[2016-07-29 07:17] harshavardhana commented on #435
This looks good @NitishT - would need some comments other than that :+1: . // cc @nl5887 ?

[2016-07-29 07:19] NitishT commented on #435
Great! I will add comments and add few other tests for boundary cases.

[2016-08-02 23:29] danyaljj commented on #407
I think [`BucketPolicy`](https://github.com/minio/minio-java/blob/master/src/main/java/io/minio/policy/BucketPolicy.java) has been added recently and there hasn't been any release after that; right?

[2016-08-02 23:49] harshavardhana commented on #407
We haven't made one, because there are some more changes which are pending @balamurugana is working on it.

[2016-08-06 01:57] #430 closed

[2016-08-11 19:17] koolhead17 opened #444 "Implement AWS China region support"
Our Java Client library should also support  AWS China region s3.cn-north-1.amazonaws.com.cn

It has been implemented in minio-go, implementation reference:  https://github.com/minio/minio-go/commit/190ac7b4b7e7ba8a669553674b748bdcace6c59e

[2016-08-16 04:33] sachinwalia2k8 opened #448 "Remove dependency on apache commons validator"
Apache commons validator pulls in it's own dependency tree:

[code]
Upon looking at the code I see that commons validator is only used for

`import org.apache.commons.validator.routines.InetAddressValidator;
`

I think it may be worthwhile pulling this method in from commons validator and getting rid of this dependency tree as apache commons collections 3.x is no longer maintained since 4.1 is alr

[2016-08-16 05:14] harshavardhana commented on #448
:+1:  @sachinwalia2k8

[2016-08-16 15:49] sachinwalia2k8 commented on #448
@harshavardhana I forked this repo and started making this change. The code has dependency on InetAddressValidator which in turn has dependency on RegexValidator. I shaded these classes to io.minio.org.apache.commons.validator.routines.

However I noticed some issues in building the code on Intellij. This is primarily happening due to classes that are residing in policy folder doesn't have "policy

[2016-08-16 16:26] balamurugana commented on #448
@sachinwalia2k8 please go ahead and send the fix :+1:

[2016-08-16 17:57] sachinwalia2k8 commented on #448
I have made the changes and will be checking-in tonight. There are some breaking changes where some existing classes visibility needs to be upgraded since we are keeping them in policy package. I am hitting a checkstyle issue for Apache Validator classes. Once done I'll send a pull request tonight.

[2016-08-17 04:34] sachinwalia2k8 commented on #448
pull request #449 sent just now.

[2016-08-17 04:40] sachinwalia2k8 commented on #448
Closing this issue since pull request #449 is merged.

[2016-08-17 04:40] #448 closed

[2016-08-18 06:15] sachinwalia2k8 opened #450 "How to set custom metadata to Object as part of putObject call"
AWS S3 provides an API to set custom ObjectMetadata using which you can set custom properties such as etag / cache control headers. Is it possible to have ability to set such metadata via MinioClient API?

[2016-08-18 06:49] harshavardhana commented on #450
Only minio-go currently supports it as part of 'responseHeaders' in PresignedGetObject() API.

[2016-08-25 02:35] sachinwalia2k8 opened #451 "MinioClient Threadsafety question"
I am wondering if MinoClient is threadsafe and can be setup as Singleton object in Spring / Guice or any other DI container? Most of the time storage endpoints may not change so much so there isn't a lot of state information in the class.

[2016-08-25 03:11] balamurugana commented on #451
Yes.There is a functional test which uses MinioClient object for multi-threaded put https://github.com/minio/minio-java/blob/master/test/FunctionalTest.java#L625

[2016-08-25 06:00] sachinwalia2k8 commented on #451
OK. thanks @balamurugana. I am marking it closed.

[2016-08-25 06:00] #451 closed

[2016-09-06 14:19] hackintoshrao opened #452 "api: Retreive set meta data."
As reported by  @tanquetav in the channel,

[2016-09-06 19:26] harshavardhana commented on #452
@hackintoshrao moved this as won't fix.

[2016-09-07 01:49] hackintoshrao commented on #452
@tanquetav, Minio discourages the use of `X-AMZ-Meta` since with the backend setup which is build for an object storage system its not possible to query Meta data.

[2016-09-07 01:49] #452 closed

[2016-09-07 18:19] tanquetav commented on #452
@hackintoshrao In fact minio server store and retrieve these information. I will choose another java api to achieve these.

[2016-09-07 18:47] harshavardhana commented on #452
We do store this but since this metadata has no way to be queried other than GetObject/HeadObject, it invites bad practice.

Object storage APis are limited and generally not queriable - so keep these metadata on an object storage serves limited purpose IMHO.

Keeping it in a database outside of object storage makes life easier for the application as well.

[2016-09-12 11:13] IsNull opened #453 "Listing objects fails with SignatureDoesNotMatch if > than 1000 objects"
The minio java client `2.0.1` gives me a very strange behaviour as soon as there are more than 1000 objects returned by the listObjects call.

* It lists all objects up to the 1000
* Then it throws the attached error complaining about the signature
* I tested it with the `mc`client, which works like a charm and lists all objects, thus the issue is very likley in the java client code
* The error do

[2016-09-12 11:29] IsNull commented on #453
Ok it appears that 1000 objects is the page size default (at least on AWS), meaning after that the client should fetch the next page?

[2016-09-12 15:28] balamurugana commented on #453
@IsNull I am trying to reproduce this and get back to you.

[2016-09-12 16:41] balamurugana commented on #453
@IsNull The below code works fine with Minio server
[code]

Checking with Amazon S3.

[2016-09-12 17:04] IsNull commented on #453
Well your test code is basically identical to mine, but anyway i run your code too with the same bad result.

My minio I am testing against runs in a docker container on my NAS, with the image `minio/minio:edge`, from **2016/09/02**

Any idea how we can close in on this strange bug?  Are u using the same minio client verison from gradle, `compile("io.minio:minio:2.0.1")`?

[2016-09-12 17:08] balamurugana commented on #453
@IsNull I tried with minio-java master branch.  Could you give a try with minio-java master?

[2016-09-12 17:19] IsNull commented on #453
I just testet java client `2.0.1` against `minio/minio:latest` server with the same bad result.

I will now test with the current master branch of the client, I'll report back.

[2016-09-12 17:32] IsNull commented on #453
@balamurugana I tested with the current master branch, same result: After the 1000th item it gives me the initial exception. (I ran the test code directly in the checked out minio client project to eliminate any possibility that its not running the latest code)

My files are video files (aprox 730GB) so im going ahead and try to reproduce it with 1000 empty text files, so we can narrow it down.

[2016-09-12 17:56] IsNull commented on #453
Alright I can reproduce it using:
* A single bucket, containing 1001 empty *.txt files. (with 1000 the error does not appear)
* Using master branch of the minio client

[2016-09-12 18:03] IsNull commented on #453
@balamurugana

Running on OS X:

* Prepared a local folder with 1001 empty text files in it
* running minio locally with `minio server /my/folder`
* Running the java client directly from master branch and connecting to the local minio

=>

[code]

[2016-09-12 18:07] IsNull commented on #453
Edit: the same code works fine with Amazon S3 as well. The setup has 1988 files in a bucket.

Maybe you can give me access to your Amazon S3 test bucket, so I can try it again. This is starting to get very strange.

[2016-09-12 18:42] harshavardhana commented on #453
@IsNull can you paste your entire code - so that we can reproduce this locally? - Thanks

[2016-09-12 21:34] IsNull commented on #453
Well its not really something special. I just checked out this repo and added the following class for quick and dirty testing:

[code]

[2016-09-12 21:53] balamurugana commented on #453
I found the problem. Signer.java does double encoding for spaces ie `%20` becomes `%2520`. Fixing it now.

[2016-09-12 21:54] IsNull commented on #453
That is great, thank you! Lucky that I uploaded the test data^^

[2016-09-12 21:55] harshavardhana commented on #453
:+1:

[2016-09-12 23:57] balamurugana commented on #453
@IsNull Thanks for finding this bug. I just sent a fix for this issue.  Please verify whether it fixes the issue your side.

[2016-09-13 03:55] #453 closed

[2016-09-13 06:37] IsNull commented on #453
Yes this fixes it.

[2016-09-13 19:12] popopome opened #455 "Missing setBucketPolicy/getBucketPolicy from latest jar 2.0.1"
I tried to call setBucketPolicy() with jar 2.0.1 version
but the funcs are not available somehow.

The last build was done at Jul 15, but when I looked up MinioClient.java file
the set/getBucketPolicy were added on Jul. 22.

Can somebody update maven repository with latest jar build?

Thanks.

[2016-09-13 19:13] harshavardhana commented on #455
We haven't made a release yet @popopome

[2016-09-16 02:49] harshavardhana commented on #455
Release 2.0.2 should be available in maven shortly. Closing this bug.

[2016-09-16 02:49] #455 closed

[2016-09-16 02:50] harshavardhana commented on #367
This is fixed.

[2016-09-16 02:50] #367 closed

[2016-09-16 02:51] harshavardhana commented on #354
Closing this since there hasn't been any update, please re-open if it happens again.

[2016-09-16 02:51] #354 closed

[2016-09-16 02:51] harshavardhana commented on #353
This bug is not reproducible anymore. Closing

[2016-09-16 02:51] #353 closed

[2016-09-16 18:04] IsNull opened #456 "2.0.2 presignedGetObject broken, invalid signature"
The 2.0.2 version now properly lists the objects without any issue. However, when I generate a pre-signed URL I always receive a 404 from minio server, saying `SignatureDoesNotMatch`.

If I switch back to 2.0.1 the presigned url works so it appears to be a regression of `2.0.2`.

Edit:

* It is reproducible with the empty txts from last test.
* It is reproducible with a single empty object `obj.tx

[2016-09-16 18:55] harshavardhana commented on #456
@balamurugana ping

[2016-09-17 03:06] balamurugana commented on #456
Checking this issue now.

[2016-09-17 21:18] balamurugana commented on #456
@IsNull My bad! I missed adding query parameter encoding for presigning.  I fixed it in https://github.com/minio/minio-java/issues/458

[2016-09-17 21:34] #456 closed

[2016-09-18 18:49] koolhead17 commented on #434
Can be fixed via https://github.com/minio/minio-java/pull/460

[2016-09-19 15:45] IsNull commented on #456
@harshavardhana Any chance for a hot-fix release? For now I have to use `2.0.1` to at least get a bit of a working system.

Btw: You currently advertise version `2.0.2` as the current one. With this version the `presigned-` methods are completely broken. New users or unsuspecting users upgrading to 2.0.2 will have a bad experience - I would actually advertise `2.0.1` until you have this bug fixed

[2016-09-19 16:43] balamurugana commented on #456
@IsNull Thanks for your appreciation. We are going to make 2.0.3 release ASAP.

[2016-09-20 06:55] harshavardhana opened #461 "docs: Update minio-java reference javadocs"

[2016-09-20 07:38] harshavardhana commented on #456
Hot-fix has been uploaded, 2.0.3 artifacts will be available shortly. Thanks for your patience @IsNull

[2016-10-02 00:49] sachinwalia2k8 opened #462 "How to get region/public URL of uploaded objects to Amazon S3"
For publicly accessible buckets on S3 is there any way we can retrieve the URL. I believe if ObjectStat returns regionName then public URL can be derived as:

`https://s3-<RegionName>.amazonaws.com/<BucketName>/<ObjectKey>
`

[2016-10-02 03:17] balamurugana commented on #462
For any anonymous request region `"us-east-1"` should be used.  This is automatically taken care inside minio-java. You could use the library normally without given access/secret keys.

[2016-10-03 02:04] harshavardhana opened #463 "Implement CopyObject API"
For reference visit https://docs.minio.io/docs/golang-client-api-reference#CopyObject

[2016-10-03 04:25] NitishT commented on #463
Hey @harshavardhana mind if I give this a shot?

[2016-10-03 05:47] harshavardhana commented on #463
Feel free to @NitishT - Thanks

[2016-10-03 05:49] NitishT commented on #463
Cool. Thanks!

[2016-10-03 16:03] balamurugana commented on #462
@sachinwalia2k8 please close the issue if you are good with the answer

[2016-10-03 16:05] balamurugana commented on #463
@NitishT :+1:   If you have any trouble in current code base, feel free to ask me.

[2016-10-03 16:17] sachinwalia2k8 commented on #462
Thanks this is helpful.

[2016-10-03 16:17] #462 closed

[2016-10-04 07:09] NitishT commented on #463
Sure! Will do that @balamurugana

[2016-10-05 18:57] sachinwalia2k8 commented on #450
@balamurugana any plan to support this. This would be a very helpful feature.

[2016-10-05 22:56] balamurugana commented on #450
@sachinwalia2k8 No immediate plan.

[2016-10-07 12:54] janiparthiv opened #464 "Content Type not updating on S3 - Java Client Lib"
Hi,

I am using java client library of minio. I am trying to upload files using putObject method but i noticed that when i pass all the details along with content type. It is not changing content type of file on s3. It is always remain as binary/octet-steam. Because of this when i try to access any file in browser it directly go to download instead of displaying it on html page or display as image

[2016-10-07 19:46] harshavardhana commented on #464
Thanks for opening the bug @janiparthiv - we have a fix. Should be merged shortly.

[2016-10-07 21:18] #464 closed

[2016-10-07 23:14] #461 closed

[2016-10-09 02:19] harshavardhana commented on #434
This is fixed in master.

[2016-10-09 02:19] #434 closed

[2016-10-09 02:20] harshavardhana opened #467 "Implement RemoveObjects API to remove objects in batches"
Refer minio-go for further API details.

[2016-10-09 02:21] harshavardhana opened #468 "Implement ListenBucketNotification ."
Refer minio-go for current API.

[2016-10-09 02:26] harshavardhana opened #469 "Implement ListBucketPolicies"
Refer minio-go for API level documentation.

[2016-10-09 13:24] NitishT commented on #463
Hi @balamurugana I have code & JUnit tests done, but I wanted to add a Functional test as well.

I see the file FunctionalTest.java but not sure how to run those tests. Can you please tell me how to run those in eclipse?

[2016-10-09 18:42] harshavardhana opened #470 "Error in methods "SetBucketPolicy" and "GetBucketPolicy" of Java client api"
Hi, I meet some problems, my test codes are below:
[code]

When I set a policy to a bucket, error happened if i call the method "getBucketPolicy" to the bucket.
The phenomenon is same if i call the method "setBucketPolicy" to the bucket again.

The exception messages is below:
com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: **Expected a string but was BEGIN_ARRAY at line 1 co

[2016-10-09 18:42] harshavardhana commented on #470
Cloned from https://github.com/minio/minio/issues/2886 reported by @zhanjiejun

[2016-10-14 19:50] porunov opened #471 "Does minio support signature v2 for Swift3?"
I am using OpenStack Swift with Swift3 middleware which is designed for S3 API. The problem is that it only supports v2 signature. Can we configure minio-java to use signature v2 of S3? I tried to use it but it shows me a 403 error.

[2016-10-14 20:04] harshavardhana commented on #471
minio-java doesn't support Signature V2.  Only [minio-go](https://github.com/minio/minio-go) implements signature v2 for applications like [mc](https://github.com/minio/mc)

[2016-10-14 20:53] porunov commented on #471
I see. Thank you for your response

[2016-10-16 15:10] #444 closed

[2016-10-18 22:49] #471 closed

[2016-10-19 02:06] balamurugana commented on #463
@NitishT Currently functional tests are run by hand using `javac` and `java` commands.  I am trying to add a new task for functional test which can be run on requirement like `./gradlew functionaltest`

[2016-10-22 01:11] balamurugana commented on #463
@NitishT FYI https://github.com/minio/minio-java/pull/473

[2016-10-27 08:31] harshavardhana commented on #337
This is not needed anymore.

[2016-10-27 08:31] #337 closed

[2016-10-27 08:32] harshavardhana commented on #273
okhttp transparently uses HTTP2.0, closing.

[2016-10-27 08:32] #273 closed

[2016-10-27 17:06] FlorinAsavoaie commented on #341
Since there are no specs for this, I started with that. Going through the code, I noticed the following:
- There is a maximum size of an object. How is that supposed to be handled in the case of an unknown sized stream? Just upload parts until we reach the limit and if we reach the limit stop? If/when we stop, do we cleanup what we uploaded already or will an incomplete upload remain there?
- Shou

[2016-10-28 14:56] balamurugana commented on #341
@FlorinAsavoaie

* As per minio-go, for unknown sized stream, stream size is assumed to  `MAX_OBJECT_SIZE` (ie 5TiB).
* Using `MAX_OBJECT_SIZE` as size to [calculateMultipartSize()](https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/MinioClient.java#L2841) returns `{ (int) partSize, (int) partCount, (int) lastPartSize }`.
* We would need to use `partSize` and `lastPartSize`

[2016-10-28 21:47] balamurugana commented on #470
Closed by https://github.com/minio/minio-java/pull/475

[2016-10-28 21:47] #470 closed

[2016-11-03 08:05] zhanjiejun commented on #470
Is the bug fixed in the next release version?

[2016-11-03 14:50] balamurugana commented on #470
@zhanjiejun Its fixed in the upstream master. You can directly compile and use the source. Since enums are breaking backward compatibility, we would be making new release with major number increased.

[2016-11-20 13:28] Makapoh54 opened #485 "Failed to retrieve working download link with minioClient.presignedGetObject"
So. I am trying to upload file from filesystem to minio storage and retrieve link. Using this method I can successfuly upload file and it appears in storage explorer. Retrieved link looks normaly, but it returns such response:
`<Error>
<Code>AccessDenied</Code>
<Message>Access Denied.</Message>
<Key/>
<BucketName/>
<Resource>/mosaic/1.png</Resource>
<RequestId>3L137</RequestId>
<HostId>3L137</Host

[2016-11-20 19:47] balamurugana commented on #485
@Makapoh54 I am not able to reproduce this with `play.minio.io` and latest minio master branch.  Could you tell me about your minio server setup info like
* minio version
* minio setup ie whether its FS or XL

[2016-11-21 08:19] IsNull opened #487 "presigned urls start time issue (url not yet valid)"
If minio is not running on the same server as the minio-java client, even minimal clock drifts / time differences between the servers can cause the presigned urls to be invalid.

Event though both server are NTP synchronised, they have some minimal differences. I think this is something which is quite common.

I do understand that the basic design of this is Amazons fault (they use a start-date an

[2016-11-21 08:22] harshavardhana commented on #487
Even if the skewed time happens 15 minutes is allowed by the API with proper date headers. With NTP synchronized there is no reason that they can drift away.

Can you provide a sample code which reproduces this?  can you reproduce this against play.minio.io:9000 ?

[2016-11-21 08:31] IsNull commented on #487
Ok that is great to hear, 15 minutes should be more than enough.

I have to investigate further and will report back.

[2016-11-29 15:26] rafaelsisweb opened #489 "HTTP 411 when upload behind a squid proxy"
We are using minio-java to upload some files to S3. Today we got some cases when our client runs behind a "squid proxy" that work when upload small files, but on large files upload got fails with an XmlPullParserException, and tracing the requests we got and request error HTTP 411.
It seems related to the fact tha large files will use multipart upload.
Is there any way to force large files to use

[2016-11-29 15:32] vadmeste commented on #489
HTTP 411 is content length, looks like minio-java is not sending content-length with multipart uploads.

I am taking this.

[2016-12-01 01:54] balamurugana opened #492 "PostPolicy should be sent properly typed JSON"
Currently `content-length-range` condition sends start/end content range as string.  They need to be sent as number in JSON.

[2016-12-06 07:16] zhanjiejun opened #493 "A method to check if object exists?"
Hi ^^
i found there is no method in Java minioclient provided to check if object exists or not

[2016-12-06 07:27] harshavardhana commented on #493
https://docs.minio.io/docs/java-client-api-reference#statObject @zhanjiejun ?

[2016-12-06 08:17] balamurugana commented on #493
@zhanjiejun  Amazon S3 does not have a direct call to check object existent like bucket.  However we could use [head object call](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectHEAD.html) to check object existent.

In minio-java You could use [statObject](https://docs.minio.io/docs/java-client-api-reference#statObject) call as @harshavardhana mentioned above.

[2016-12-06 08:17] #493 closed

[2016-12-06 09:02] zhanjiejun commented on #493
i saw it before, but i didn't see descriptions in javadoc to show what will return if object is not exist , will it return null or throw a exception?

[2016-12-06 11:54] balamurugana commented on #493
You could use something like below
[code]

Let me know do we need to have handy method like `MinioClient.objectExists()`

[2016-12-06 22:16] samirsamedov commented on #353
I had same erro with RETROFIT web services Our , server was DigitalOcean Db related with Mysql, how ever our version was old when we change it problem gone

[2016-12-06 22:20] balamurugana commented on #353
@samirsamedov could you tell me what version of java and okhttp you use to get rid of this problem?

[2016-12-06 22:22] samirsamedov commented on #353
I will write every detail dont worry, our guy got asleep right now me on Android side he is on web side

[2016-12-06 22:25] balamurugana commented on #353
@samirsamedov No problem :+1:

[2016-12-08 15:59] samirsamedov commented on #353
It  was about the version of our Node.js, above 6 is needed.

[2016-12-08 21:55] JayVem opened #494 "s3 host should be 's3.amazonaws.com' in endpoint"
When testing file copy on s3, I see an error thrown as specified in the subject of this issue. I noticed in the code that there is a string pattern check for s3.amazonaws.com. This is incorrect expectation. If you see in this [link ](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region), s3.us-east-2 is also a valid s3 region and so are many others. Please fix this - this especially f

[2016-12-08 22:20] harshavardhana commented on #494
you can use s3.amazonaws.com directly, minio-java will figure out the right region using GetBucketLocation().

[2016-12-08 23:37] balamurugana commented on #494
@JayVem The check [`s3.amazonaws.com`] (https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/MinioClient.java#L444) is done to avoid minio-java consumer to know the region of the bucket.

Passing endpoint as  `s3.amazonaws.com` to `MinioClient` is good enough to do any s3 operation.  For example `statObject(String bucketName, String objectName)` automatically figures out the

[2016-12-09 05:53] JayVem commented on #494
` String amzHost = url.host();
      if (amzHost.endsWith(AMAZONAWS_COM) && !amzHost.equals(S3_AMAZONAWS_COM)) {
        throw new InvalidEndpointException(endpoint, "for Amazon S3, host should be 's3.amazonaws.com' in endpoint");
      }`

It doesn't work directly with s3.amazonaws.com - I receive an error in Amazon lambda saying that I should use the actual url. As you can see from line 443 in M

[2016-12-09 06:08] harshavardhana commented on #494
what is the error that you get in lambda @JayVem ?

[2016-12-09 08:54] balamurugana commented on #353
@samirsamedov I couldn't able to get you.  Are you using minio-java with S3 server where the server is written in node.js?

[2016-12-09 09:17] balamurugana commented on #494
@JayVem Do you mean you have to use `s3.<region>.amazonaws.com` inside your lambda function to avoid making additional location query call?

FYI minio-java has inbuilt region cache ie many different S3 calls on same bucket uses only one location query call.

[2016-12-09 20:03] samirsamedov commented on #353
Ohk we use WinSCP to connect our server its Linuz based Server , after login  are able to see folders etc. And with our error and updating Node.js; in server side we are able to use its terminal like CMD in windows , I asked some more details, if you type some thing like that "Node.js linuz centos7" you will find some shortcuts to use in terminal like yum url... of something or wget url... and thi

[2016-12-10 02:50] GarimaKapoor commented on #397
@balamurugana is this issue resolved?

[2016-12-10 02:52] GarimaKapoor commented on #300
@harshavardhana is this still valid?

[2016-12-10 02:53] GarimaKapoor commented on #408
@balamurugana what is the current status of this issue?

[2016-12-10 02:54] harshavardhana commented on #300
No it is not @GarimaKapoor - closing we have native types for all functions now.

[2016-12-10 02:54] #300 closed

[2016-12-10 02:54] GarimaKapoor commented on #463
@NitishT what is the status of the issue?

[2016-12-10 02:55] GarimaKapoor commented on #489
@vadmeste any updates on this issue?

[2016-12-10 03:00] balamurugana commented on #408
@GarimaKapoor Currently none. We would need to discuss, evaluate and prioritize this issue

[2016-12-10 03:02] balamurugana commented on #397
@GarimaKapoor No. We haven't made the conclusion to made all calls using async.  This requires major rewrite of minio-java.

[2016-12-10 04:40] NitishT commented on #463
There were a few enhancements/review comments to be addressed. I will take it up this week @GarimaKapoor

[2016-12-12 06:47] JayVem commented on #494
ok, So here are the issues, when I use credentials given by Lambda environment with code like this -

`private String awsKey = System.getenv("AWS_ACCESS_KEY_ID");
	private String awsSecret = System.getenv("AWS_SECRET_ACCESS_KEY");

	public Object handleRequest(Object request, Context context) {
		APDefaultS3Client s3Client = new APDefaultS3Client(awsKey, awsSecret);
		try {
			s3Client.download("t

[2016-12-12 11:21] balamurugana commented on #494
@JayVem Could you check whether
* Given access/secret keys work good outside of your program or lambda function with Amazon AWS S3
* Please verify read keys from OS environment is exactly same as the one set in the OS environment variables.

[2016-12-12 13:52] yuanfeiz commented on #470
Is there any update on releasing it to Maven?

[2016-12-12 14:28] balamurugana commented on #470
@yuanfeiz We are working on it

[2016-12-12 18:22] harshavardhana commented on #470
Yep just pushed 2.0.5 should be available shortly.

[2016-12-12 23:50] balamurugana commented on #470
@harshavardhana As some of the calls are breaking backward compatibility. the release version needs to be 3.0.  `build.gradle` has already set accordingly unless manual override.

[2016-12-12 23:51] harshavardhana commented on #470
which calls are breaking @balamurugana ?

[2016-12-13 04:05] yuanfeiz commented on #470
Cool, is this fix included?

[2016-12-13 04:11] harshavardhana commented on #470
Yes this is included.. it should be 3.0.0 not 2.0.5

[2016-12-18 11:15] harshavardhana commented on #492
Is this fixed @balamurugana ?

[2016-12-18 11:15] harshavardhana commented on #487
Closing this for now @IsNull - please re-open if this issue is seen again.

[2016-12-18 11:15] #487 closed

[2016-12-18 11:16] harshavardhana commented on #485
Closing this for now as working as expected  @Makapoh54  - please re-open if seen again.

[2016-12-18 11:16] #485 closed

[2016-12-18 11:17] harshavardhana commented on #450
minio-go now supports PutObjectWithMetadata() - this can be now implemented with minio-java.

[2016-12-18 11:20] harshavardhana opened #500 "minio-java SDK compiles mockwebserver during compile time."
`mockwebserver` shouldn't be compile dependency.

[2016-12-18 18:49] #500 closed

[2016-12-22 14:53] PSanetra opened #502 "Add MinioClient.getUrl"
The MinioClient class only provides the method presignedGetObject which returns a signed url for an object.

It would be useful to have a getUrl method to get a simple url for public files.

The AWS SDK has such a method: http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3Client.html#getUrl-java.lang.String-java.lang.String-

[2016-12-22 15:41] balamurugana commented on #502
@PSanetra [AmazonS3Client.getUrl()](http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/AmazonS3Client.html#getUrl-java.lang.String-java.lang.String-) identifies bucket/key has public read permissions using Canned ACL and returns [URL object](http://docs.oracle.com/javase/6/docs/api/java/net/URL.html?is-external=true).

Currently minio-java supports bucket policy not can

[2016-12-22 16:21] PSanetra commented on #502
@balamurugana I think it does not matter if the public read permissions are granted by canned ACL or bucket policies or if the object isn't accessible at all. MinioClient.getUrl() should return a url in any case.

The aws sdk documentation states

The method returns a url for the object even if the object is not accessible by this url, because of missing permissions. But if the object is public re

[2016-12-22 22:08] harshavardhana commented on #492
Server supports this either way. So closing.

[2016-12-22 22:08] #492 closed

[2016-12-22 23:01] harshavardhana opened #504 "GetObject is failing with S3 when there are prefixes are involved"
[code]

Same call fails with minio server as well under same conditions

[2016-12-22 23:01] harshavardhana commented on #504
A sample program

[code]

[2016-12-23 02:01] #504 closed

[2016-12-23 02:44] balamurugana commented on #502
@PSanetra The feature under review at https://github.com/minio/minio-java/pull/507

[2017-01-05 20:32] #502 closed

[2017-01-14 03:11] harshavardhana commented on #494
Closing this bug as stale.

[2017-01-14 03:11] #494 closed

[2017-01-14 03:13] harshavardhana commented on #340
This is not needed anymore, we might open this again later perhaps.

[2017-01-14 03:13] #340 closed

[2017-01-14 11:43] thomas-logisch opened #514 "create folder does not work"
I have used the example PutObject.java to create a folder inside a bucket in the test account as well as on an AWS account like

`minioClient.putObject("my-bucketname", "myfolder/my-objectname", bais, bais.available(), "application/octet-stream");`

but I get in both cases the error:

`The request signature we calculated does not match the signature you provided. Check your key and signing method.

[2017-01-15 22:21] balamurugana commented on #514
@thomas-logisch It works with current master and should work in v3.0.2
Could you share what version of minio-java you used?

[2017-01-15 23:45] #463 closed

[2017-01-16 07:20] thomas-logisch commented on #514
Oh sorry! Yes, you are right!
I was using the latest minio-java (3.0-DEV) from maven repository because I thought I have to use minio-java instead of just minio 3.0.2.
Thanks for clearing!

[2017-01-16 16:47] balamurugana commented on #514
@thomas-logisch  If things are working as expected in the latest release, please close this issue.

[2017-01-16 16:59] harshavardhana commented on #514
Closing as solved by release.

[2017-01-16 16:59] #514 closed

[2017-01-19 06:50] balamurugana commented on #489
@rafaelsisweb Its fixed by minio/minio-java#490.  Could you verify with release 3.0.3?

[2017-01-27 14:48] marcinwyszynski opened #520 "`getObject` seems not to observe key case sensitivity"
I just had a case where using the Minio Java library I requested key `Mattermost/Extensions/Array+RemoveObject.swift@9dc2b931f92aa08ecd0bb95432b0af6f`, but received the content of `Mattermost/extensions/Array+RemoveObject.swift@9dc2b931f92aa08ecd0bb95432b0af6f`

Both paths are valid, but case sensitivity matters.

I took a look through the code but haven't spotted any obvious reasons for such beha

[2017-01-27 14:53] balamurugana commented on #520
@marcinwyszynski what is the version of minio-java you used?

[2017-01-27 14:55] marcinwyszynski commented on #520
3.0.2

[2017-01-27 15:12] balamurugana commented on #520
Below code works fine in latest master and minio server
[code]

Checking with Amazon S3 now.

[2017-01-27 15:22] marcinwyszynski commented on #520
I actually used Minio server. I'll update the library version to 3.0.3 and see what gives.

[2017-01-27 15:22] balamurugana commented on #520
@marcinwyszynski the above example works fine with minio-java v3.0.2.  Can you check at your end?

If you use minio server, please provide minio version and setup info.  There could be minio server issue.

[2017-01-27 15:24] marcinwyszynski commented on #520
![minio_browser](https://cloud.githubusercontent.com/assets/571786/22376136/19913492-e4ad-11e6-9817-e58c8640a195.png)

[2017-01-27 16:23] marcinwyszynski commented on #520
@balamurugana I just want to make sure the upgrade does not affect data integrity?

[2017-01-27 16:27] harshavardhana commented on #520
It doesn't @marcinwyszynski

[2017-02-08 22:13] harshavardhana opened #521 "Change references for Java Library to Java SDK"

[2017-02-08 22:31] harshavardhana opened #522 "docs: Minimum requirement heading for Java SDK"
[code]

Add minimum requirements heading instead of combining requirements with top level description

[2017-02-09 05:01] #521 closed

[2017-02-10 17:35] vadmeste opened #525 "PresignedGetObject: invalid region response with a Minio server having a custom region"
PresignedGetObject doesn't perform a get bucket location call against a Minio server, so it will generate an incorrect presigned URL when Minio server is setup with a different region name like `us-west-2`

[2017-02-10 20:35] #525 closed

[2017-02-18 00:06] harshavardhana commented on #489
Closing this as fixed in latest release 3.0.3

[2017-02-18 00:06] #489 closed

[2017-02-18 00:07] harshavardhana commented on #520
@marcinwyszynski were you able to validate with latest minio-java and server releases?

[2017-02-18 21:41] marcinwyszynski commented on #520
@harshavardhana I haven't seen the issue since I upgraded minio server.

[2017-02-18 21:44] harshavardhana commented on #520
Thanks for letting us know @marcinwyszynski . Closing

[2017-02-18 21:44] #520 closed

[2017-02-23 14:56] donatello opened #528 "Support CopyObject for all sizes"
Requirements are detailed at https://github.com/minio/minio-go/issues/617

[2017-02-23 14:58] Erwyn opened #529 "Connection leak when using splitIterator()?"
Hello,

I'm encountering an issue with the minio java library.

Here is the code I'm running:

[code]

And I get this error message: `[warn] c.s.o.OkHttpClient - A connection to http://minio.service.dev:9000/ was leaked. Did you forget to close a response body?`

[2017-03-02 10:50] balamurugana commented on #529
@Erwyn Please add minio-java version you used.

[2017-03-03 10:29] Erwyn commented on #529
sure:   "io.minio" % "minio" % "3.0.3",

[2017-03-06 18:03] PsyTae opened #530 "Add the ability to add additional upload parameters to a putObject and fPutObject"
Our company uses extra parameters when uploading files to the s3 such as the `Metadata: { someKey : 'STRING_VALUE' }` object.  It would be nice to be able to add additional parameters as AWS-SDK does.  as referenced [Here](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property).

[2017-03-06 18:07] PsyTae commented on #530
wrong repository.

[2017-03-06 18:07] harshavardhana commented on #530
Closing as duplicate of #450

[2017-03-06 18:10] #530 closed

[2017-03-07 21:39] danyaljj opened #531 "`InvocationTargetException` for mismatch of header time?"
I am facing exceptions similar to the ones discussed in #411.

The snippet that I'm calling is

[code]

and here is the stack trace:

[code]

where the `Datastore.getFile` is [here](https://github.com/IllinoisCogComp/cogcomp-datastore/blob/de316e63113cbedc0fdebb4ae6dc8962ed42dba9/src/main/java/org/cogcomp/Datastore.java#L124-L174).

Any ideas what's going wrong?

[2017-03-08 17:41] balamurugana commented on #531
@danyaljj Below code works fine for me.
[code]

Could you tell me your javac, java and minio-java version information?

[2017-03-08 17:47] danyaljj opened #532 "Big files: ways to show the progress?"
How does minio handle big files?
Is there a way to show the progress (in download or upload) for big files?
It can be in terms of remaining size to download/upload, etc.

[2017-03-08 18:02] danyaljj commented on #531
minio-java I think is the latest:
https://github.com/IllinoisCogComp/cogcomp-datastore/blob/75477c31bfa9bccea4e2954f8207c39e5273fcf1/pom.xml#L12-L16

printing `System.getProperty("java.version")` gives me "1.8.0_72", which

It is very surprising to me that in one project I see this error message, while not in another one. And based on what I checked they use the same minio-java and jdk versions :t

[2017-03-08 20:52] harshavardhana commented on #532
Minio-java transparently uploads big files i.e files bigger than > 5MB by chunking them internally. This happens transparently.

![out](https://cloud.githubusercontent.com/assets/622699/23723364/bc157e3e-03fd-11e7-9746-428edea0e2a0.gif)

[code]

[2017-03-08 21:39] harshavardhana commented on #529
Can you paste your entire code @Erwyn ?

[2017-03-09 01:12] balamurugana commented on #531
Quite strange! Could you tell me your locale? I can run unit tests with your locale to verify whether minio-java is working good with that.

[2017-03-09 01:15] danyaljj commented on #531
What do you mean by locale? My minio end-point?

[2017-03-09 01:23] danyaljj commented on #532
Thanks for the answer.
I think I'm looking for something slightly different. It might be the case that your solution is an overkill for what I want:

What I understand about your example above is that, you visualize the progress in a progress base, graphically(am I right?). What I'm looking for is (probably) simpler. I want to show the upload the progress (say after every 5% upload/download) on th

[2017-03-09 01:41] harshavardhana commented on #532
What the example shows is how you can achieve it, it is to show that you can build such a functionality yourself and minio-java doesn't interfere - and rather works seamlessly. Now the details are for you to fill in ie how the UI should be be it a graphical UI or a console UI the approach is the same.

You need to write a custom InputStream with read(), close() methods which wraps around the incom

[2017-03-09 02:07] harshavardhana commented on #531
Your locale means

[code]

[2017-03-09 04:53] danyaljj commented on #531
Oops. here it is

[code]

[2017-03-10 08:01] NitishT opened #536 "Support encryption for GetObject() and PutObject()"
Minio server supports the header required. The SDK needs to support client side encryption and decryption.

[2017-03-11 08:12] #532 closed

[2017-03-11 08:13] harshavardhana commented on #531
ping @balamurugana anything odd that you see here?

[2017-03-12 04:36] balamurugana commented on #531
@harshavardhana The locale looks same except `LC_ALL` is set to empty in my machine.

@danyaljj If you give me right reproducer it would be great, else you can close this issue.

[2017-03-12 06:18] danyaljj commented on #531
Give me a little more time. I will go over the issue again soon, and will try to reproduce it.

[2017-03-13 16:51] Erwyn commented on #529
[code]

[2017-03-13 17:03] Erwyn commented on #529
Sorry guys when pasting It I discovered the source of the problem. Just before the end of the gist I was doing a : `        client.getObject(configurationHelper.getMinioPimImportBucket(), lastFileKey.get().get().objectName());
`
Now that I removed it there is no leak anymore. Now, could you explain me, it's because the InputStream coming out of this method is never closed?

Moreover, regarding som

[2017-03-14 01:40] balamurugana commented on #529
Returned `InputStream` of `getObject()` needs to be closed by the consumer.

Top level `close()` should call `close()` of underneath contained/child object.  But you could check respective docs whether this applicable.

@Erwyn If this issue is not correct, you could close it.

[2017-03-14 09:11] Erwyn commented on #529
@balamurugana Thank you very much! I'm closing the issue. Sorry for the trouble, this was completely my fault.

[2017-03-14 09:11] #529 closed

[2017-03-14 09:25] balamurugana commented on #529
@Erwyn No problem

[2017-03-16 21:38] deekoder opened #538 "ListenBucketNotification should also support Get and Head"
Depends on minio/minio#3916

[2017-03-20 21:36] deekoder commented on #536
Is there a bug on the server that this one depends on.

[2017-03-20 21:41] harshavardhana commented on #536
There is no server side changed needed for this. Its purely a client enhancement issue.

[2017-04-03 08:41] mescalitox opened #540 "client: [feature] Support proxy configuration."
add a proxy configuration to the minio client

[2017-04-05 02:50] danyaljj commented on #531
Closing for now. Will open if I can find a concrete way to reproduce it.

[2017-04-05 02:50] #531 closed

[2017-04-05 02:51] harshavardhana commented on #531
Thanks @danyaljj

[2017-04-05 03:00] danyaljj opened #541 "Issues when running on linux."
I have this software that is using minio-java. When using in Mac everything is fine, although I have issues when running in linux.

Here is the error I'm getting when running on linux:
<img width="907" alt="screen shot 2017-04-04 at 9 58 46 pm" src="https://cloud.githubusercontent.com/assets/2441454/24687888/ec4a5e8c-1981-11e7-9623-2cf63967d31d.png">

and it's pointing to [this line](https://githu

[2017-04-05 03:04] harshavardhana commented on #541
It looks like lastModified was null @danyaljj - we will take a look. Strange to have two different operating systems behave differently.

[2017-04-05 03:28] danyaljj commented on #541
I don't know why we keep track of last modified time or why it is necessary, but let me know if you need more details.

[2017-04-05 03:33] harshavardhana commented on #541
No last modified is part of S3 spec we read it through HTTP header and attempt to convert it . Which S3 server are you using here ?

[2017-04-05 03:36] danyaljj commented on #541
I'm using minio server on another linux machine. No S3 involved.

[2017-04-05 04:20] balamurugana commented on #541
@danyaljj  Looks like a minio server bug.

Can you provide minio server version? you can get it by running `minio version` command.

[2017-04-05 04:32] danyaljj commented on #541
[code]

[2017-04-05 06:21] balamurugana commented on #541
@danyaljj Its good to know how you ran minio server (full command line). That will tell the setup type.

[2017-04-05 06:26] danyaljj commented on #541
`./minio server files`

[2017-04-05 06:35] balamurugana commented on #541
I guess `files` is a single directory.  Can you provide below information?

1. Could you enable `traceOn()` in `MinioClient` object and provide the output?
2. Can you provide output of  `stat` of the file you are accessing using minio-java eg. `stat files/<PATH-TO-FILE-YOUR-ACCESS>` ?

I suspect your backend file system doesn't have modtime.

[2017-04-05 07:10] danyaljj commented on #541
Yeah `files` is a single directory.
Here are the stats:
[code]

Enabling `traceOn()` requires me to do some work 😒

[2017-04-05 07:11] danyaljj commented on #541
How can the problem be the minio-server? I mean, it works fine when accessing from Mac....

[2017-04-05 07:20] balamurugana commented on #541
If minio-java library is working fine in macOS, it should work on linux as well (My devel is on Ubuntu).  In both the cases, if the same server is accessed, then it could be minio-java problem.

If possible, can you run a sample java code on macOS and linux? Refer: https://github.com/minio/minio-java/blob/master/examples/StatObject.java

[2017-04-05 07:33] danyaljj commented on #541
Same server is accessed in both cases. Once accessed from mac (works fine), second time accessed from linux (not fine).

[2017-04-05 07:34] balamurugana commented on #541
@danyaljj I understood the problem completely.  Could you run the example pointing to your server with `traceOn()`?  The output will tell what's going on.

[2017-04-05 08:37] danyaljj commented on #541
[Here is an example](https://github.com/CogComp/cogcomp-datastore/blob/f8e1ddbd3e92c8c2d65ccc58fb322c2ea3cbdcb3/src/main/java/cogcomp/Blah.java).

Mac output:
[code]

And linux output:
[code]

Looking at the output of the above two runs, looks like they are both fine. So I tried an example inside my code. to see what happens there. And indeed there is a difference between the two behaviors.
Here i

[2017-04-05 08:39] danyaljj commented on #541
It looks like it is relevant to (same as?) #531.

Could you try running my same script in the 2nd link and see what you observe?

[2017-04-05 15:40] NitishT commented on #541
The root cause seems to be `Caused by: java.lang.IllegalArgumentException: Invalid format: "Wed, 05 Apr 2017 08:33:08 GMT" is malformed at "GMT"` --> similar to #531

Looks like `org.joda.time.format.DateTimeFormatter.parseDateTime` formatting fails on Linux. I will try to reproduce and let you know.

[2017-04-07 00:16] deekoder commented on #522
@NitishT  can you address this asap.

[2017-04-07 00:18] deekoder commented on #468
Please catch up the java sdk with this. All other sdks have this implemented already.

[2017-04-07 00:19] deekoder commented on #467
Need to catch up this in Java SDK in the next release.

[2017-04-07 00:21] deekoder commented on #437
This needs to be done in the next release of java sdk.

[2017-04-07 00:22] deekoder commented on #413
This also needs to be part of the next java sdk release.

[2017-04-07 00:25] deekoder commented on #408
This is an example : https://github.com/minio/minio-java/blob/master/examples/PutObjectProgressBar.java

[2017-04-07 00:25] #408 closed

[2017-04-07 00:26] deekoder commented on #397
We have to discuss this and decide what we want to do about this. Assigning it to myself till then.

[2017-04-07 00:27] deekoder commented on #341
Refer to how we handle this in minio-go

[2017-04-07 09:44] NitishT commented on #522
Fixed by https://github.com/minio/minio-java/pull/543

[2017-04-09 03:02] NitishT commented on #541
@danyaljj in the above error output for `mac` I see that download is skipped as the file exists on filesystem.

`The target /Users/daniel/.cogcomp-datastore/readonly.org.cogcomp.comma-srl/2.2/comma-srl-models already exists. Skipping download from the datastore . . . `

While on `Linux` the download is actually attempted and then you get the error. Can you pls remove the file from `mac` locally an

[2017-04-09 09:37] MatteCarra opened #544 "Conflicts with Reflections"
Minio conflicts with reflections, maybe because Minio is using an old version of google guava.
This is the exception:

        at org.reflections.Reflections.expandSuperTypes(Reflections.java:380)
        at org.reflections.Reflections.<init>(Reflections.java:126)
        at org.reflections.Reflections.<init>(Reflections.java:168)
        at org.reflections.Reflections.<init>(Reflections.java:141)

[2017-04-09 11:14] balamurugana commented on #544
@MatteCarra Could you give me a full stacktrace? I don't see any minio related trace in the trace you pasted

[2017-04-09 11:21] balamurugana commented on #541
@danyaljj Can you try with locale change from `Locale.US` to `Locale.ENGLISH` in https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/DateFormat.java#L28?

[2017-04-09 11:42] MatteCarra commented on #544
Minio uses an outdated of guava, which causes conflicts with other dependencies, like [Reflections](https://github.com/ronmamo/reflections)

[2017-04-09 11:49] balamurugana commented on #544
@MatteCarra gradle/maven allow each library can use its own version of dependencies.  I am unable to understand `outdated of guava and conflicts`.

Do you mean `com.google.guava:guava:18.0` is having problem in general?  Aren't you able to use different version of guava whereas minio-java uses `guava:18.0`?

[2017-04-09 15:34] MatteCarra commented on #544
I have a project that uses Reflections and Minio.
I can't understand why, but guava 18.0 and guava 20.0 (Reflections is using this guava version) are in conflict.

[2017-04-09 16:13] balamurugana commented on #544
This is a known problem in a project using multiple dependent packages.  You would need to resolve in your project to use such conflicting dependencies using maven/gradle.  This [stackoverflow](http://stackoverflow.com/questions/19659425/conflicting-library-version-in-a-java-maven-project) would be helpful if you are using maven.

Increasing guava dependency version in minio-java would conflict wi

[2017-04-09 16:41] #544 closed

[2017-04-09 22:48] vadmeste opened #546 "Copy unmodified condition fails with AWS S3"
[code]

when tested against AWS S3, copy is performed though it shouldn't.

The reason is that X-Amz-Copy-Source-If-Unmodified-Since is not sent with the right date time format

[2017-04-10 02:22] balamurugana commented on #541
@danyaljj you could also modify in https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/DateFormat.java#L41 `zzz` to `'GMT``.

[2017-04-10 15:52] #546 closed

[2017-04-10 15:53] danyaljj commented on #408
@deekoder Sorry about the confusion. I'm talking about console progress bar. Something like this:
https://github.com/raszi/java-progressbar
Is there a way to know how much of the upload/download is done?

[2017-04-10 15:54] harshavardhana commented on #408
@danyaljj console progress bar can be implemented in the same manner as the example shows. Do you want us to write that as well?

[2017-04-10 16:02] danyaljj commented on #408
Not sure how its done the same way. Any sample codes for that? Thanks!

[2017-04-10 16:04] danyaljj commented on #541
So @NitishT 's point fair. There was a cache on my Mac which kept the issue hidden on Mac.There is indeed the same observation on Mac too. Here is the ouptput:

[code]

[2017-04-10 16:04] harshavardhana commented on #408
Will write an example in a bit @danyaljj .

[2017-04-10 16:11] danyaljj opened #549 "Install the java api locally"
Small question: So I'm trying to do some experiments for #541. I'm changing the api and need to install it locally.
My nonexistent knowledge of Gradle: how can I install/publish it locally? (like `mvn install`)

[2017-04-10 16:28] danyaljj commented on #549
`gradle install` seems to be doing the trick.

[2017-04-10 16:28] #549 closed

[2017-04-10 16:41] danyaljj commented on #541
@balamurugana
 - changing `Locale.US` to `Locale.ENGLISH` didn't help.
 - Upon changing `zzz` to `GMT` I'm getting initialization error.

[code]

[2017-04-10 17:17] balamurugana commented on #541
@danyaljj Now it shows error in `requestBuilder.header("x-amz-date", date.toString(DateFormat.AMZ_DATE_FORMAT));`.  This is not at a problem.  I suspect you are using wrong depedencies of minio-java.

Below are dependencies and their versions
[code]

Please check and let me know if they are exactly same.  If the problem continues, I need `traceOn()` output.

[2017-04-10 18:18] danyaljj commented on #541
Here is the output with `traceOn()`

[code]

[2017-04-10 21:39] danyaljj commented on #541
This is my current most recent observation: the issue is not OS (it happens in both Linux and Mac).
However, on my Mac, retrieving file works fine, if being called from the same project, but it doesn't work fine on the other project.

[2017-04-10 22:02] harshavardhana commented on #541
are you using the latest master @danyaljj ?

[2017-04-10 22:10] danyaljj commented on #541
Yeah I cloned from master.

[2017-04-10 22:10] danyaljj commented on #541
3.0.4

[2017-04-10 22:26] danyaljj commented on #541
Found it!

Somehow your `joda-time-2.7` dependency was being ovewritten by an older version `joda-time-2.1`.
Adding the version 2.7 explicitly to my project fixed the issue.

[2017-04-10 22:26] #541 closed

[2017-04-10 22:32] harshavardhana commented on #541
Thanks @danyaljj glad to know.

[2017-04-11 00:19] balamurugana commented on #541
As expected.  Glad you found it.

[2017-04-11 02:43] harshavardhana commented on #408
@danyaljj here is the example of console based progress bar - https://github.com/minio/minio-java/pull/550

[2017-04-11 15:59] NitishT commented on #536
ETA 15 April

[2017-04-11 16:00] NitishT commented on #468
ETA 20 April

[2017-04-11 18:52] danyaljj commented on #408
Thanks @harshavardhana. Could you show usage for `getObject` too?

[2017-04-11 20:54] #522 closed

[2017-04-15 11:32] danyaljj commented on #408
Or give me ideas on how to do this ...

[2017-04-15 12:14] danyaljj commented on #409
I faced the issue again, but upgrading the minio server it got resolved.

[2017-04-15 18:49] harshavardhana commented on #408
https://github.com/minio/minio-java/pull/554 here we go @danyaljj

[2017-04-15 21:03] #467 closed

[2017-04-17 17:19] #413 closed

[2017-04-17 18:36] tawrahim opened #556 "NullPointerException - copyObject appears to be broken"
It appears that `copyObject` method provided does not work. Here is the exception that is being thrown

[code]

I did some research and noticed that others are also having this issue. You can take a look at [this repo](https://github.com/jeppe-style/performance-test-manager/blob/5500e6c2f3a4bb39a593c3c282eb9662582669b1/application/src/main/java/cloud/benchflow/testmanager/services/external/MinioSe

[2017-04-17 23:07] harshavardhana commented on #556
Do you have a full sample code on this? we have functional tests and we are not able to reproduce this on our end..

Can you try to reproduce this with latest master? @tawrahim

[2017-04-18 07:57] #437 closed

[2017-04-18 15:23] tawrahim commented on #556
@harshavardhana - I created a repo to reproduce the bug - [Link to to repo](https://github.com/tawrahim/minio-copy-object-bug)

When you say with latest mater do you mean **minio-3.0.3-all.jar** ?

[2017-04-18 15:44] balamurugana commented on #556
@tawrahim The example code is quite straight forward which is similar to the functional test. I don't see any problem with that.

There could be below problems your side.
1. minio java requires below dependencies.  Make sure you have correct version of them.
[code]
2. minio-java requires Java 1.7 or 1.8.  Please check what version of java you use.

I see you are using minio server.  Please provide

[2017-04-18 15:50] tawrahim commented on #556
You are right - It is actually the same as the functional test

[code]
Here is the full stack trace

[code]

[2017-04-18 15:54] balamurugana commented on #556
@tawrahim Thanks for the info.

Can you confirm dependencies and `play.minio.io`?

[2017-04-18 15:55] tawrahim commented on #556
For `play.minio.io` which **access id** and **secret key** should I be using?

[2017-04-18 15:56] tawrahim commented on #556
Also for the dependencies - I am just using the `minio-3.0.3-all.jar` which I believe contains all the deps.

[2017-04-18 15:57] balamurugana commented on #556
@tawrahim If you are using `minio-3.0.3-all.jar` then its good to go. Below is `play.minio.io`  detail.

[code]

[2017-04-18 16:03] tawrahim commented on #556
Looks like `play.minio.io` is down

[code]

I actually cannot even get to **https://play.minio.io:9000/** in the browser

[2017-04-18 16:07] harshavardhana commented on #556
Play seems to be working fine, looks like you have a network problem.

[code]

[2017-04-18 16:12] tawrahim commented on #556
It actually looks like it was because I am behind a coprate firewall. I just switched to my hotspot and it looks like I am able to reach `play.minio.io`

I still saw the exception testing against play.minio.io

[code]

[2017-04-18 16:13] tawrahim commented on #556
I am going to update my repo with the play URL so that you guys can test it directly.

[2017-04-18 16:16] balamurugana commented on #556
@tawrahim I am able to reproduce this issue with `minio-java-3.0.3-all.jar`.  However it works fine with latest development master.

Can you confirm whether minio-java master works for you?

[2017-04-18 16:27] balamurugana commented on #556
@tawrahim PR https://github.com/minio/minio-java/pull/519 fixes the problem.

[2017-04-18 17:30] tawrahim commented on #556
Glad that you were able to reproduce this. Do you think you can drop me a jar of master that I can try with? Also when do you think it is going to make it into maven? Our current project pulls directly from maven central.

[2017-04-18 17:34] harshavardhana commented on #556
We will make a release @tawrahim

[2017-04-18 18:04] harshavardhana commented on #556
Fixed by #519 - also released 3.0.4

[2017-04-18 18:04] #556 closed

[2017-04-20 05:43] emrekanca opened #559 "NullPointerException when using copyObject method"
I can use all other methods of java sdk but copyObject won't work

play.api.http.HttpErrorHandlerExceptions$$anon$1: Execution exception[[NullPointerException: null]]
	at play.api.http.HttpErrorHandlerExceptions$.throwableToUsefulException(HttpErrorHandler.scala:293)
	at play.api.http.DefaultHttpErrorHandler.onServerError(HttpErrorHandler.scala:220)
	at play.core.server.netty.PlayRequestHandler$$a

[2017-04-20 06:12] balamurugana commented on #559
@emrekanca It looks like a bug in `v3.0.3`. Can you confirm whether `v3.0.4` works for you?

[2017-04-20 08:29] emrekanca commented on #559
Yes it works

[2017-04-20 08:35] balamurugana commented on #559
Already fixed.

[2017-04-20 08:35] #559 closed

[2017-04-26 17:16] vadmeste opened #563 "Do not expose credentials and signature in requests trace and exception messages"
Replace access key and signature with '*EXPOSED*' in both exception description and http tracing.

[2017-04-26 17:16] vadmeste commented on #563
Sending a PR..

[2017-05-02 23:46] deekoder opened #566 "Update minio java to point to 3.0.4 in docs."

[2017-05-03 00:07] deekoder opened #567 "For all signed payloads with sha256 avoid calculating Content-Md5"
Don't compute md5sum signatures when uploading for the first time, only compute when resuming the upload operation.

[2017-05-03 00:32] deekoder opened #568 "Add streaming signature support for putobject API."
- no md5sum. #567
- only sha checksum for http protocol.
- all put objects have to use streaming signature v4 by default
- Use 8 threads by default optionally configurable.

[2017-05-03 00:36] #566 closed

[2017-05-03 03:05] balamurugana commented on #563
As the PR already available, assigning to @vadmeste

[2017-05-03 03:11] #563 closed

[2017-05-03 04:54] harshavardhana commented on #567
Currently PutObject() calculates md5sum for each part while uploading to remote server we need to change this behavior into two parts

- For a fresh upload we do not calculate md5sum for each parts, instead we rely on the fact that server anyways calculates and we keep uploading.
- For a resuming upload i.e resuming a previously interrupted upload should calculate md5sum of each parts and skip nec

[2017-05-03 06:45] harshavardhana commented on #567
To dumb it down any request which has a payload and we calculated payload checksum i.e sha256 we should avoid calculating `Content-Md5`.

[2017-05-03 09:41] balamurugana commented on #567
As minio-java works exactly described, there is no fix required.

[2017-05-09 12:41] balamurugana commented on #341
Requires for https://github.com/minio/minio-java/issues/536

[2017-05-10 16:07] #341 closed

[2017-05-13 02:04] #567 closed

[2017-05-13 08:46] #536 closed

[2017-05-18 14:54] TopSpoofer commented on #397
The asynchronous API is strongly recommended！

[2017-05-21 09:22] IsNull opened #578 "listObjectsV2 causes endless loop > 1000 items"
Using the new (default) listObjectsV2 to list objects causes an endless loop when there are more than 1000 items returned by the server and _recursive_ is set to `true`. The iterator will list the first 1000 items over and over again.

I guess there is some error in the continuation token logic in the java client.

To reproduce, create 1001 items in a bucket and use the simplistic code below to li

[2017-05-21 12:12] harshavardhana commented on #578
Have you tried with mc does that work ?

[2017-05-21 15:49] vadmeste commented on #578
I was able to reproduce this. I can take it.

[2017-05-21 18:45] vadmeste opened #579 "Tests fail with master Minio but not with play.minio.io"
./gradlew runFunctionalTest gives the following error:

[code]

[2017-05-22 01:30] balamurugana commented on #579
The current head of minio server has a bug.

[2017-05-22 01:39] harshavardhana commented on #579
Look at the latest comment @balamurugana , we should keep this issue open until we decide on the SPEC related issue.

[2017-05-22 02:17] balamurugana commented on #579
Refer https://github.com/minio/minio/issues/4383 why this issue happens.

[2017-05-24 01:10] #578 closed

[2017-06-02 03:06] #579 closed

[2017-06-14 18:10] premik91 opened #582 "Google App Engine difficulties"
Current version of minio-java does not work on GAE platform. This is because GAE has some classes restricted. Unfortunately ProxySelector is one of them. Do you have any solutions to this? :)

Stack trace:
java.lang.NoClassDefFoundError: java.net.ProxySelector is a restricted class. Please see the Google App Engine developer's guide for more details.
at java.net.ProxySelector.<clinit> (ProxySelect

[2017-06-14 18:14] harshavardhana commented on #582
Looks like okhttp folks think its a Google App Engine bug - https://github.com/square/okhttp/issues/2044

[2017-06-14 19:32] deekoder commented on #568
Can we close this @NitishT

[2017-06-14 19:37] NitishT commented on #568
I still need to do this @deekoder . ETA 21 Jun

[2017-06-19 18:46] IsNull commented on #578
@harshavardhana any chance of a new release which contains this fix? While the problem is not really an issue for me (as I switched back to the v1 api), all new users have a non working default configuration as V2 has been made the default.

[2017-06-19 18:52] harshavardhana commented on #578
Sure we will make a new release soon @IsNull - thanks for getting back to us.

[2017-06-20 15:26] klingtnet commented on #578
This is also an issue for the latest `minio-go`.

[2017-07-04 16:26] NitishT opened #585 "Functional tests should use streaming"
Minio-java functional tests will be used in Mint framework to test Minio server. This calls for uniform usage of Files across Minio-SDK functional tests.

It was concluded that (https://github.com/minio/mint/pull/67/files)

- Tests should generate their own data by using input/output streams. These streams should be used for testing upload cases.

This makes tests flexible, removes too much depend

[2017-07-08 06:40] #585 closed

[2017-07-18 08:08] cliffcotino commented on #450
This would be very useful feature for us as well. The ObjectStat object would probably also need a way to be able to read the metadata back when performing a statObject call.

[2017-07-18 08:10] balamurugana commented on #450
@cliffcotino thanks for showing interest on this feature.  I will add it ASAP.

[2017-07-18 08:15] cliffcotino commented on #450
Cool! Thanks for the quick response.

[2017-07-18 13:50] sachinwalia2k8 commented on #450
@balamurugana will this be added to go sdk as well?

[2017-07-18 15:23] harshavardhana commented on #450
Go SDK already has this @sachinwalia2k8

[2017-07-21 09:10] balamurugana opened #589 "Make MinioClient.httpClient extensible"
Refer the actual issue filed at https://github.com/minio/minio/issues/4707

Currently `MinioClient.httpClient` field is `private` which limits of customization with interceptor.  To enable this feature, either one of following can be done
1. make `httpClient` field `protected`
2. have a method to accept interceptor
3. have a method to accept `OkHttpClient` which replaces existing `httpClient`

[2017-07-21 09:15] balamurugana commented on #589
@malejpavouk My choice is option 3.  Let me know if it works for you.

[2017-07-21 15:06] malejpavouk commented on #589
Ok, thanks. Works perfectly for me

[2017-07-22 03:46] balamurugana commented on #589
@malejpavouk there is a change. A new constructor is introduced to accept custom http client than a method.

[2017-07-22 10:45] malejpavouk commented on #589
Thanks!

[2017-07-24 19:51] #589 closed

[2017-07-30 15:41] #450 closed

[2017-08-07 16:24] NitishT opened #597 "Update minio-java to output new mint log format"
`minio-java` tests are used in `mint` to test Minio server. `minio-java` logs need to be updated in the format below so that `mint` logs can be easily parsed.

[code]

[2017-08-09 00:05] balamurugana opened #598 "Add functional tests for get/set bucket policy API"

[2017-08-14 18:14] #598 closed

[2017-08-16 17:52] baev opened #600 "Remove final modifier from MinioClient"
It would be nice to have `MinioClient` non final to simplify testing for components that uses it. Currently it is not possible to create a mock of `MinioClient` (yeah, Mockito v2 will have kind of support for mocking final classes, but it is incubating, opt-in feature at this point)

[2017-08-17 17:55] #600 closed

[2017-08-18 18:43] #568 closed

[2017-08-23 06:38] Electricks94 opened #604 "How can I receive Data from Google BigQuery with Eclipse and Java?"
I’m trying to receive some Data from google BigQuery and show the result in my eclipse console to get started with BigQuery and Java. Basically, I followed the Instructions provided by google, which I found here:

So my example Java Code looks like the quick start example from google:

[code]

But when I run this Code I get the following error:

[code]

I tried to authenticate with Default Credent

[2017-08-23 07:04] harshavardhana commented on #604
I don't see anywhere you are using minio-java here @Electricks94 - are you sure you are asking this question on the right project?  are you generally asking about a common Java question?

[2017-08-23 07:32] Electricks94 commented on #604
I'm sorry. I'm very new to git hub and didn't understand where to post my issues at first. Thanks for your comment. Could you please delete this issue here or do I have to do this?

[2017-08-23 07:34] harshavardhana commented on #604
You can click `Close` in the bottom here. @Electricks94 let me know if you are confused we can close it for you.

[2017-08-23 09:35] #604 closed

[2017-08-24 19:23] ganzah opened #605 "Allow presigned DELETE url's"
Currently, the Java client does not support the generation of presigned URL's for deleting a file, only for PUT, POST and GET operations.

In a scenario with a javascript frontend app and a java backend service, the service may choose to let frontend handle file operations directly with the minio server by issuing presigned URLs for upload and download. However, there is currently no way to let th

[2017-08-25 00:49] harshavardhana commented on #605
This request is similar to the request PR https://github.com/minio/minio-go/pull/770

[2017-08-29 17:10] NitishT commented on #597
Fixed by https://github.com/minio/minio-java/pull/603

[2017-08-29 17:10] #597 closed

[2017-09-02 02:35] poornas opened #606 "mint tests for gateways fail on putobject call with SocketTimeoutException"
For all three gateways, multipart put call fails on mint.

Stack trace for gcs:

java.net.SocketTimeoutException: timeout
	at okio.Okio$4.newTimeoutException(Okio.java:227)
	at okio.AsyncTimeout.exit(AsyncTimeout.java:284)
	at okio.AsyncTimeout$2.read(AsyncTimeout.java:240)
	at okio.RealBufferedSource.indexOf(RealBufferedSource.java:344)
	at okio.RealBufferedSource.readUtf8LineStrict(RealBufferedS

[2017-09-05 21:11] balamurugana commented on #606
As per the stacktrace, the server is timing out and returning `InternalError`.  I opened [an issue](https://github.com/minio/minio/issues/4892) in minio server

This is not minio-java problem.

[2017-09-05 21:11] #606 closed

[2017-09-06 00:51] deekoder commented on #582
This issue seems unrelated to Minio and has been fixed by Google App Engine as per okhttp id above.

[2017-09-06 00:51] #582 closed

[2017-09-11 07:57] WaseemSafarifone opened #608 "Suppressed: java.lang.ClassNotFoundException: java.nio.file.Paths (Paths and Files)"
I am trying to upload the Image, but I am stuck with this headache issue. The **Path** and the **File** class is not found in the library, it crashes always in the section of _**MinioClient.java
Path filePath = Paths.get(fileName);**_
    if (!Files.isRegularFile(filePath))

The server and the Bucket name is already established and working fine.

FATAL EXCEPTION: Smack-Cached Executor 1 (0)

[2017-09-11 08:01] balamurugana commented on #608
Could you share your java version? You would need to have java 1.8

[2017-09-11 08:02] harshavardhana commented on #608
Are you trying minio-java library on Mobile platforms? @WaseemSafarifone can you provide more details with examples and operating system details?

[2017-09-11 08:05] WaseemSafarifone commented on #608
@balamurugana I am using Java 8 with version jdk1.8.0_121. @harshavardhana Yes trying mino-java library on Mobile platforms for Android.

[2017-09-11 08:14] WaseemSafarifone commented on #608
I am implementing the same example as shown in the main. With bucket existence it works pretty good, but when I try to do
            **// Upload the image file to the bucket with putObject
            minioClient.putObject(bucketName, fileName, filePath);**
The exception raises as I have question out. @harshavardhana

[2017-09-11 08:21] balamurugana commented on #608
It seems you have a setup problem.  Please refer https://github.com/deeplearning4j/deeplearning4j/issues/3261 and https://github.com/dizitart/nitrite-database/issues/4

[2017-09-11 09:38] WaseemSafarifone commented on #608
@balamurugana I didn't get the deeplearning4j you have prefered for this type of error. Deeplearning4j is for CPUs and GPUs I think so. For the 2nd option I am already using the same he describe but didn't solve that problem.
Can you please tell me that, is this Java library working perfectly on Mobile devices?

[2017-09-11 11:47] agibsonccc commented on #608
Hey folks: it generally should work on android fine. http://deeplearning4j.org/android
I only found this because of google alerts..but it wouldn't hurt to try to ask help from us rather than guessing on your own. You're welcome to join our live chat if you have questions: https://gitter.im/deeplearning4j/deeplearning4j

[2017-09-12 16:45] balamurugana commented on #608
@WaseemSafarifone the reference issues are how similar things happened and what could be a possible solution.

From my understanding Android blacklists some classes like `nio`.  I guess you would need to enable in your setup.

As I don't have experience in Android, I couldn't able to give exact steps.

[2017-09-13 03:16] xiaochen2012 opened #610 "get jwt token"
I want to download bucket files in bulk. I see the browser that can be downloaded through http://localhost:9000/minio/zip token=xxx, and whether SDK can provide get  token function

[2017-09-13 05:25] WaseemSafarifone commented on #608
@balamurugana I just change my mind and I use Volley library to upload the picture on the requested slot of Minio Server. Before this I was trying Minio Java sdk but didn't succeed because of the problem I have mentioned. Thanks for your rapid response.

[2017-09-13 06:57] #608 closed

[2017-09-13 07:02] balamurugana commented on #610
There is no single method to do it.  You could call multiple `getObject()` in parallel. `MinioClient` is thread-safe to use.

[2017-09-13 10:02] xiaochen2012 commented on #610
we are use js  call download url ,so getObject not suit, thank you 。

[2017-09-13 12:51] vivek1739 commented on #544
check your $CLASSPATH once.
It may be pointing to old gauva jars like in hadoop , hive etc.
Comment the old ones in CLASSPATH and add the confluent common and kafka jar location.
Then it will work

[2017-09-18 05:46] nitisht commented on #610
Hi @xiaochen2012 functionality to download files with jwt token is for internal use, specific to the Minio browser. It is not recommended to build functionality on top of token as it may change without notice. It is better to follow idiomatic S3 approach.

Since S3 does not provide API for bulk download of files from a bucket, a better approach is to

- Call multiple `PresignedGetObject()`, one of

[2017-09-18 11:25] xiaochen2012 commented on #610
ok，thanks

[2017-09-18 11:25] #610 closed

[2017-09-26 01:58] poornas opened #614 "mint fails for copyobject with metadata against gateways"
The copyobject test fails on azure and gcs - expected for Azure but not so for GCS. Needs to be investigated.

Output log is also not showing up in json format - need the release version of minio-java to be updated.

Test: copyObject(String bucketName, String objectName, String destBucketName,CopyConditions copyConditions, Map<String, String> metadata) replace object metadata

GCS and Azure error

[2017-09-26 02:01] poornas opened #615 "mint fails for s3 gateway on putobject test"
putObject fails when run against s3 gateway. Needs to be investigated. This was run against build version of minio as of Sep 25.
[code]

[code]

Mint image built from  commit 158108152fc86c52d5543995e0e7634bf1b6da74
Minio version:
Version: 2017-09-25T21:57:17Z
Release-Tag: RELEASE.2017-09-25T21-57-17Z
Commit-ID: d3eb5815d9951fdb82d0134b7651368bab71d72e

[2017-09-26 14:28] nitisht commented on #615
This looks like a regression after commit `2083ce8d9d97141d0d2db86f784c0074da148045`
Sent a PR https://github.com/minio/minio/pull/4972

[2017-09-27 19:03] #615 closed

[2017-09-28 18:41] s4kibs4mi opened #619 "Having issue with request signature"
[code]

[2017-09-28 18:45] harshavardhana commented on #619
Please share the entire program @s4kibs4mi that reproduces this issue.

[2017-09-28 18:49] s4kibs4mi commented on #619
I'am using this app (https://github.com/s4kibs4mi/minio-play-rest-api) developed by me. It was working fine when I tested on previous release of minio. But today when I am trying it with new release its not working. I am using minio-java-sdk version 3.0.7. I am trying to create a bucket but the sdk throwing the above exception.

[2017-09-28 22:08] balamurugana commented on #619
@s4kibs4mi can you do `traceOn()` and send the full log?  Also can you try your endpoint with `play.minio.io:9000`?

[2017-09-29 12:18] s4kibs4mi commented on #619
In `play.minio.io:9000` was having xml parsing error. Btw the problem has been solved.

[2017-09-29 12:18] #619 closed

[2017-09-30 01:21] kannappanr commented on #614
This also failed with gateway connected to aws. Here is the failure log

{"name":"minio-java","function":"copyObject(String bucketName, String objectName, String destBucketName, CopyConditions copyConditions, Map<String, String> metadata)","duration":3375,"status":"FAIL","error":"java.lang.Exception: content type differs. expected: application/javascript, got: application/octet-stream >>> [Functio

[2017-09-30 01:29] deekoder commented on #614
It also happens on S3 gateway

[2017-09-30 01:38] poornas commented on #614
This is a problem with the copyobject_test8 itself. customcontenttype is being set as application/javascript and it is asserting a check for application/octetstream. Nothing to do with the gateway

[2017-09-30 01:43] harshavardhana commented on #614
Quite surprising that this doesn't fail with FS and Erasure Code :-)

[2017-09-30 01:50] poornas commented on #614
ok, :(  missed that the assertion is against object in destination bucket.

[2017-09-30 01:54] harshavardhana commented on #614
:gun:

[2017-09-30 02:12] ebozduman opened #620 "Mint test 'putObject' fails when Minio runs as s3 gateway"
Here is the error log message:
[code]

This could be a regression due to the fix for Issue #615

[2017-09-30 15:27] balamurugana commented on #620
@ebozduman Please open all mint related issues into `mint` project.

[2017-09-30 15:39] balamurugana commented on #620
I am not able to reproduce this now.  The exception
[code]
occurred due to slowness of gateway s3 backend response.

[2017-10-02 05:39] #605 closed

[2017-10-03 10:02] Prasanthmv opened #624 "How to get custom meta data that save using putObject method ?"
Hi,
   i have checked the put object method for saving the custom meta data along with file upload . Is there any other way to save custom meta data . Also how can i retrieve this . not found one with getObject and statObject method . please suggest a solution for this .

My example is given below

           ` Map<String, String> headerMap = new HashMap();
            headerMap.put("x-amz-meta-na

[2017-10-03 17:26] balamurugana commented on #624
@Prasanthmv it seems a bug in minio-java doesn't return headers.  Checking that.

[2017-10-03 18:23] balamurugana commented on #624
@Prasanthmv I have submitted a PR https://github.com/minio/minio-java/pull/625 which fixes the issue.  Could you confirm whether it works for you?

[2017-10-04 03:04] ebozduman commented on #620
I'll try to reproduce it and add my findings here.

[2017-10-05 16:03] #624 closed

[2017-10-07 21:55] christopher-fredregill commented on #469
I took a stab at this one; please see https://github.com/minio/minio-java/pull/627

As a side note - the functional tests are breathtakingly slow, running against https://play.minio.io:9000. Running against a local Docker container endpoint, the entire suite was able to finish in under a minute. I'd be happy to add/implement a feature to optionally run the tests against a container, if desired.

[2017-10-13 10:25] someshrathi02 opened #628 "Issue in the way OkHttpClient is used in the Minio Java Client"
These seems to be an issue in the way OkHttpClient is used in the Minio Java Client

*Context:*
We are trying to connect to Minio using the Mimio-java client from a SpringBoot application.
+ JDK 1.8.0_112
+ Minio Client - 3.0.7

The SpringBoot application is using a custom PKI provider.

Issue faced:
It looks like Minio Java client is using the OKHTTPClient. And the problem appears to be how Minio

[2017-10-13 14:04] balamurugana commented on #628
@someshrathi02 The issue is already fixed in the master by https://github.com/minio/minio-java/pull/621.  Could you check that?

[2017-10-14 00:37] balamurugana commented on #628
@someshrathi02 There is new release available http://central.maven.org/maven2/io/minio/minio/3.0.8/

[2017-10-14 02:15] christopher-fredregill opened #630 "Contributors Guide needs more detailed instructions"
It appears that there are some undocumented requirements for outside contributions which really should be captured in the Contributors Guide. A couple quick examples of things that would be nice to list out concretely in the guide:

* commit messages - there appear to be some standard commit message templates for various sorts of changes (`api: <blah>`, `test: <blah>`, ... ), but these aren't conc

[2017-10-14 02:30] christopher-fredregill opened #631 "Functional tests run slowly against https://play.minio.io:9000 endpoint"
Unless there's something specific we need to prove by running the tests against the https://play.minio.io:9000 endpoint, it might be nice to just run up a local Docker container to use as the endpoint for the functional tests. There are Gradle plugins that could be used to help facilitate this. This could even be rigged up in Travis CI, such that when builds run, the functional tests run against a

[2017-10-14 03:48] someshrathi02 commented on #628
Hi Balamurugana ,
 Thanks for your reply. #621 is related to increasing default timeout.

However this one is related to line 202 where httpClient is intialized using new operator.

line 202
private OkHttpClient httpClient = new OkHttpClient();

So if this httpClient initialization is moved to the relevant Constructors (& not at the class level), we think that the issue can be resolved.

[2017-10-14 04:20] harshavardhana commented on #631
For the most part play.minio.io is used by default for our CI tests since the server is is located closer to us we do not have this problem.

If you wish to run it locally it is also possible that is why it is possible to override this as well, so i don't see a problem with current approach.

[2017-10-14 04:31] balamurugana commented on #628
@someshrathi02 I am unable to understand why ` private OkHttpClient httpClient = new OkHttpClient();` is problem in the constructor accepting custom OkHttpClient.

Could you try latest minio-java?

[2017-10-14 15:12] balamurugana commented on #631
You can run functional test like `./gradlew -PendPoint=<http://HOST:PORT> -PaccessKey=<MYUSER> -PsecretKey=<MYPASSWORD> runFunctionalTest`.  Its not necessary to run against [play](https://play.minio.io:9000).

For developer easiness, [play](https://play.minio.io:9000) is used as default.  Note that this SDK works with any S3 server supporting signature v4.  Its up to the developer how to run func

[2017-10-14 15:27] balamurugana commented on #630
As you identified the style from existing commit logs, its most commonly used style.  Sometimes (rarely) we deviate from this.  There is no hard rule.

Functional tests are primary for testing .  The tests are API point of view and each parameter has to be tested separately in its own test method.  Existing unit tests are not very useful.  A cleanup is required on this.

Again there is no hard rul

[2017-10-16 16:52] ebozduman commented on #631
@christopher-fredregill
Please let us know if the above information/response is satisfactory for you.

[2017-10-23 03:37] ramkumarkb commented on #628
@balamurugana We have tested the latest version and the issue persists (and therefore we have to continue to use the Amazon Java Client).

We think the real cause is the line (line 202):

`private OkHttpClient httpClient = new OkHttpClient();`

From our analysis, even before the constructor initializes the httpClient with the passed in Object, the Class level initialization takes place (as per the

[2017-10-23 03:54] balamurugana commented on #628
@ramkumarkb
I am aware of class level initialization by `private OkHttpClient httpClient = new OkHttpClient();`.  That why we have provided custom HTTP client way to override it.  Refer http://minio.github.io/minio-java/io/minio/MinioClient.html#MinioClient-java.lang.String-int-java.lang.String-java.lang.String-java.lang.String-boolean-okhttp3.OkHttpClient-

Isn't this solution fixing your problem

[2017-10-23 04:25] someshrathi02 commented on #628
@balamurugana
   we agree that we have an option to pass in the custom OkHTTPClient, but we are not able to avoid the default initialisation of the OKHTTPClient as its in the class level which is causing issue for us. Even though we pass the custom OkHTTPClient, MinioClient tries to first initialise the default OkHTTPClient and throws error in our case before it assigns the custom one.

[2017-10-23 04:29] balamurugana commented on #628
@someshrathi02
Could you share exact error message you are getting?  If possible you can share a sample code which causes the problem

[2017-10-23 06:02] someshrathi02 commented on #628
@balamurugana
   Unfortunately we will not be able to share a sample code which causes the problem as it has our custom PKI implementation dependency.

The OKHttpClient is trying to setup the systemDefaultTrustManager, see below code.

From https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/OkHttpClient.java (Line 280)

      TrustManagerFactory trustManagerFactory = TrustMa

[2017-10-23 07:06] ramkumarkb commented on #628
@balamurugana
We noticed that you marked the issue as low and moved it out of the current milestone. Request you to reconsider your decision.

Since one can not control the behavior of a custom PKI provider, removing the default initialization would be favorable approach.

Thank you,

[2017-10-23 17:21] balamurugana commented on #628
@someshrathi02 @ramkumarkb I sent a PR fixing this issue.  Please check whether it works for you.

[2017-10-23 19:31] krisis commented on #620
@ebozduman did you get a chance to recreate the issue again?

[2017-10-24 11:41] ramkumarkb commented on #628
@balamurugana
Thank you for the PR. We have verified this fix offline and this indeed resolves the issue!

We are now able to go back to using Minio java client instead of S3 java client.

Thank you very much for the quick turnaround. We will await the merge of this PR.

Best,

[2017-10-24 11:44] #628 closed

[2017-10-25 16:57] perisher opened #634 "java.lang.NoClassDefFoundError: java.nio.charset.StandardCharsets in MinioClient.java"
I ran into a crash running the latest 3.0.8: release below,
[code]
I was running on a API 17 device and it looks like StandardCharsets was added in API 19 https://developer.android.com/reference/java/nio/charset/StandardCharsets.html.

[2017-10-25 17:38] balamurugana commented on #634
@perisher Do you still need to support Android Jelly Bean (Version 4.1 to 4.3)?

[2017-10-25 18:35] perisher commented on #634
Yes, i do. The fix is simple, but i dont know what that implies in your code.

[2017-10-25 18:40] ebozduman commented on #620
I tried once with no success.
I wanted to try again if we still have time to try.

Ersan

On Mon, Oct 23, 2017 at 12:31 PM, Krishnan Parthasarathi <
notifications@github.com> wrote:

[2017-10-25 18:52] balamurugana commented on #620
We can close the issue now and reopen when reproduced.

[2017-10-25 19:12] balamurugana commented on #634
According to Google, Jelly Bean is unsupported Android (WRT Security patches).  Not sure whether we could support it.  Requires an internal discussion.

[2017-10-25 21:14] harshavardhana commented on #634
AFAICS we don't need to support Jelly Bean if Google is not supporting anymore. Moving to API 19 is a valid choice here but we can discuss.

[2017-10-26 04:00] nitisht commented on #620
Closing as not reproducible anymore.

[2017-10-26 04:00] #620 closed

[2017-10-27 04:33] christopher-fredregill commented on #631
Closing. Thanks @ebozduman

[2017-10-27 04:33] #631 closed

[2017-10-28 11:35] arunpal-kiwi opened #635 "Problem occur while i am trying to get input stream some time its working fine but some time it give me the error and Some time it give me the minio connection time."
Hi i am using minio 3.0.8 . its working fine for upload file in java .But it give me a error while i am trying to download a file

error occured
ErrorResponse(code=NoSuchKey, message=The specified key does not exist., bucketName=null, objectName=null, resource=/resourse-server/284/health/1509086845373.doc, requestId=3L137, hostId=3L137)
request={method=GET, url=http://host:port/bucketName/284/heal

[2017-10-28 13:57] balamurugana commented on #635
I see you have a problem in putting an object where it returns success wrongly.  Could you share more information about how put object is done?
* exact error message at client and server for put object
* what SDK you use to upload and its version?
* what is minio server version? (run `minio version` to paste the information here)
* I see you use client side encryption. Add more information about t

[2017-10-29 16:11] JNKielmann opened #636 "Get empty File"
Hi,

I uploaded an empty file (length = 0 Bytes) to minio.
If I try to download it with the getObject Method I get the following error:
[code]
I have created a minimal example that reproduces the issue here:
https://gist.github.com/JNKielmann/cd7283b0d7ec9cc57b7fea36c46395b0

The problem seems to be the Range header: `bytes=0-` because the file has no bytes. If you remove this entry from the reque

[2017-10-30 07:36] harshavardhana commented on #636
Looks like this is a bug that occurs with AWS S3 as well.

[code]

[2017-10-30 07:37] arunpal-kiwi commented on #635
For putting an Object i have used following code
MinioClient minioClient = new MinioClient("serverUrl", "accesskey, secretkey");
boolean isExist = minioClient.bucketExists("bucket");
if (!isExist) {
 minioClient.makeBucket("bucketName");
}
minioClient.putObject("bucketName", "objectName", "fileName");
String fileUrl = minioClient.presignedGetObject("bucketName", objectName);

i am getting Minio co

[2017-10-30 07:52] harshavardhana opened #637 "[functional-tests] Method not allowed exception when tested with AWS S3"
[code]

[2017-10-30 13:40] balamurugana commented on #636
@JNKielmann PR https://github.com/minio/minio-java/pull/638 fixes the issue. Please verify.

[2017-10-30 13:43] balamurugana commented on #637
Wonder why the test works with `play.minio.io`

[2017-10-30 13:45] balamurugana commented on #635
@arunpal-kiwi Please share the detail I asked in above comment.

[2017-10-30 15:40] harshavardhana commented on #637
You have to add a test.

[2017-11-01 03:30] laudukang opened #639 "Any way to confirm object exist or not?"
I have a use case to comfirm a object exist in bucket whether or not, and I can finish the case through the following ways:

1. MinioClient#statObject, method will throw exception if object not exist, so I can know the object is not exist in minio server

2. MinioClient#getObject, method will throw exception if object not exist

Is there a better way that I can ensure a object exist in minio serve

[2017-11-01 03:45] harshavardhana commented on #639
What you explained is the most idiomatic way.  What exactly are you looking for ?

[2017-11-01 04:00] laudukang commented on #639
@harshavardhana Sorry, I have updated the issue.

[2017-11-01 04:19] balamurugana commented on #639
@laudukang You would need to do like below
[code]

[2017-11-01 05:02] balamurugana commented on #269
Not applicable anymore

[2017-11-01 05:02] #269 closed

[2017-11-01 05:06] balamurugana commented on #397
Archived.  Will reopen on more community attraction.

[2017-11-01 05:06] #397 closed

[2017-11-01 05:09] balamurugana commented on #614
Not minio-java issue.

[2017-11-01 05:09] #614 closed

[2017-11-01 05:23] #636 closed

[2017-11-01 07:04] harshavardhana commented on #469
Merged and fixed in #627

[2017-11-01 07:04] #469 closed

[2017-11-01 18:50] kannappanr commented on #639
@laudukang Please close the issue, if the above reply is what you are looking for.

[2017-11-02 01:45] #639 closed

[2017-11-05 06:53] #637 closed

[2017-11-08 16:54] vrock28 opened #641 "Provide Maven support to fetch minio jar along with all dependent jar's"
Currently, the maven entry provided here will result in just downloading the minio-3.0.9.jar and not minio-3.0.9-all.jar. I faced quite a bit of problem trying to unit test where the call to instantiate minio object was expecting the xmlPullParser class to be present but was not there in my local repo as its not part of minio-3.0.9.jar

It would be helpful if the -all.jar file is fetched as part o

[2017-11-08 18:43] balamurugana commented on #641
@vrock28 I am not sure how maven fetches *-all.jar` with specified dependency entries.  I see most of java projects provide something like below, where minio-java does the same.
[code]

You would need check maven how you can fetch `-all.jar`

[2017-11-09 04:40] vrock28 commented on #641
@balamurugana : I quite dont get it. Can you post the pom.xml file entry here which would help me fetch -all.jar ?

[2017-11-09 06:05] balamurugana commented on #641
@vrock28 I said there is no option for fetch `-all.jar`

[2017-11-11 06:17] deekoder opened #643 "Change Java version in readme.md file."
Change `Java 1.7 or above` is changed to `Java 1.8 or above` as we moved to java 1.8 quite sometime back.

[2017-11-14 05:34] #643 closed

[2017-11-21 00:40] balamurugana commented on #641
Reopen if necessary information is available.

[2017-11-21 00:40] #641 closed

[2017-11-21 00:41] balamurugana commented on #635
Reopen if necessary information is available.

[2017-11-21 00:41] #635 closed

[2017-11-21 00:42] #634 closed

[2017-11-21 00:43] balamurugana commented on #630
Reopen if its not answered

[2017-11-21 00:43] #630 closed

[2017-11-21 00:52] harshavardhana commented on #540
https://github.com/MarkusBernhardt/proxy-vole/ - This can be achieved by simply doing

[code]

OkHTTP honors this - nothing needs to be done by minio-java end here.

[2017-11-22 00:56] ebozduman opened #647 "gateway-gcs: minio-java fails at teardown() stage."
Gateway gcs minio-java functional test fails at its last step, `teardown()`, and the error condition is not captured in the logs. That is, logs show all successful tests and the error message goes to console.
[code]
It looks like there are still objects in the target bucket, when the teardown(), which calls removeBucket in turn, is called. Teardown() needs to clean-up/remove any existing objects i

[2017-11-22 03:48] balamurugana commented on #647
Question is why bucket is not empty

[2017-11-22 04:23] harshavardhana commented on #647
This is perhaps related to the bug fix https://github.com/minio/minio/commit/bbd05a8f1c995dd7b4ea8fca10e420bb9d174e6f - perhaps we should run it once and test this again?

[2017-11-22 09:39] nitisht commented on #647
Tested with changes from PR https://github.com/minio/minio/pull/5217 all tests pass against GCS Gateway in full mode. This issue can be closed as fixed by https://github.com/minio/minio/pull/5217

[code]

[2017-11-22 09:39] #647 closed

[2017-12-01 01:50] dingjs opened #648 "SignatureDoesNotMatch if using nginx route based on bucket names"
Accoding to the [Setup Nginx proxy with Minio Server](https://docs.minio.io/docs/setup-nginx-proxy-with-minio), we can using nginx route based on bucket names.
If I config nginx like the doc said：
[code]
The java client would throw SignatureDoesNotMatch exception,but the mc client works fine.
I did some debugging,and find out why.
This is the nginx log
[code]
Because the nginx location is `/somebu

[2017-12-01 04:25] nitisht commented on #540
@mescalitox closing this as working as intended. Feel free to re-open if there are any issues

[2017-12-01 04:25] #540 closed

[2017-12-01 10:24] vadmeste commented on #648
Thanks for reporting this @dingjs, can you paste the minimal java code here ? I guess it is only initialization and get object, right ?

[2017-12-01 10:31] dingjs commented on #648
Yes, I just called minioClient.getObject(bucketName,objectName). We talked about it in slack.

[2017-12-01 10:37] balamurugana commented on #648
The fix is changing https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/MinioClient.java#L1216 to `HttpResponse response = execute(Method.GET, US_EAST_1, bucketName, "/",` to comply with the spec

[2017-12-01 17:21] reynaldo-ivan opened #649 "Error: unhandled HTTP code 503"
Error: unhandled HTTP code 503.  Please report this issue at https://github.com/minio/minio-java/issues
2017-12-01 11:05:37.519 ERROR 18799 --- [nio-8081-exec-1] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.xmlpull.v1.XmlPullParserException: end tag name </hea

[2017-12-01 17:21] #649 closed

[2017-12-05 06:37] dingjs opened #651 "Argument validation should be more strict."
Hi!
In this method:
[code]
If objectName is null or empty(due to some bad coding),this method will delete the whole bucket,which is very dangerous,even removeBucket would not recursively delete objects.

The api description should be more precise,and do the argument validation strictly,if there is a  invalid argument , an IllegalArgumentException would be better.

There is other  method like `getO

[2017-12-05 06:47] #648 closed

[2017-12-05 06:47] nitisht commented on #648
@dingjs this was fixed with #650 can you please test with latest `minio-java` master and let us know how it goes

[2017-12-05 06:50] nitisht commented on #651
Thanks for reporting @dingjs we'll send a fix soon

[2017-12-05 08:54] dingjs commented on #648
@nitisht  I test getObject and putObject using latest minio-java master, it works fine now.
Thanks a lot.

[2017-12-09 03:15] #651 closed

[2017-12-09 03:16] nitisht commented on #651
@dingjs this is fixed with #652 .

[2017-12-12 10:54] cwjcsu opened #653 "Support directory operation"
statObject/putObject with objectName end with '/' will fail;
when remove an object that is the only file in a directory,the containing directory will be removed too.

[2017-12-13 05:14] balamurugana commented on #653
This is already fixed by https://github.com/minio/minio-java/pull/650.  Can you try and confirm with latest master?

There is no such directory concept in object storage.  All objects are stored, retrieved and deleted.  When an object ending with `/` is called as directory by users, but it is an independent object which is entirely different object where another object name prefixing with `a direc

[2017-12-14 03:06] cwjcsu commented on #653
i tested the code with latest master,the end-with '/' problem solved.Thanks.

[2017-12-14 03:06] #653 closed

[2017-12-21 04:13] cwjcsu opened #654 "Support append some bytes to an existed object"
append or update:
`long appendObject(bucketName,objectName,byte[]data,int objOffset,int dataOffset,int length)`
or just append to the tail of file:
`long appendObject(bucketName,objectName,byte[]data,int dataOffset,int length)`
meight return the current length of the object.

[2017-12-21 05:43] harshavardhana commented on #654
There is no S3 API which allows appending on an existing object. what is the purpose behind this API ?

[2017-12-21 06:21] balamurugana commented on #654
@cwjcsu As @harshavardhana mentioned, there is no S3 API to do so.  This kind of application logic should be handled in your application layer, not in minio-java like SDKs.

Close this issue if answered.

[2017-12-21 09:25] cwjcsu commented on #654
@harshavardhana ,aliyun oss api has this capability，I'm not familiar with S3. Thanks, I should close it.

[2017-12-21 09:25] #654 closed

[2018-01-18 17:27] kannappanr commented on #468
Will reopen this issue and implement if there is interest in the community.

[2018-01-22 08:45] cwjcsu opened #658 "Object etag contains '/' cause getObject fail in windows"
In MinioClient's `getObject(bucketName,objectName,fileName)` ，there is a line
`String tempFileName = fileName + "." + etag + ".part.minio"`
when the etag contains character '/', the tempFileName will become a directory in windows,in my case ,the etag is 'W/32cd942789df57d72f5a216988e9e938'
the later line
`os = Files.newOutputStream(tempFilePath, StandardOpenOption.CREATE, StandardOpenOption.APPEND

[2018-01-22 08:49] cwjcsu commented on #658
@harshavardhana ,the ETag is returned by `statObject(bucketName,  objectName)`

[2018-01-22 08:56] balamurugana commented on #658
@cwjcsu Could you share `minio version` and how you run `minio` server?

[2018-01-22 08:59] cwjcsu commented on #658
@balamurugana ,minio server version is '2017-11-22T19:55:46Z'

[2018-01-22 08:59] harshavardhana commented on #658
AWS S3 or Minio never sends an ETag with weak element https://en.wikipedia.org/wiki/HTTP_ETag#Strong_and_weak_validation, so i suspect you are using a proxy in between manipulating what was sent by the server.

[2018-01-22 09:01] cwjcsu commented on #658
@harshavardhana the server is using nginx,does thes matter?

[2018-01-22 09:36] cwjcsu commented on #658
It's confirmed that it's the nginx cause the problem,changed the etag from '32cd942789df57d72f5a216988e9e938' to `W/"32cd942789df57d72f5a216988e9e938"` .
When i access the file from http://{ip}:9199 directly,not from nginx which is http://{ip}:80 ,the etag is correct

[2018-01-22 09:55] #658 closed

[2018-02-14 01:03] vrock28 commented on #641
@balamurugana : We are hitting the "Caused by: org.xmlpull.v1.XmlPullParserException: caused by: org.xmlpull.v1.XmlPullParserException: resource not found" exception with the minio jar and when i manually include -all.jar, this gets resolved because the XmlPullParser is bundled as part of -all.jar

[2018-02-14 02:13] balamurugana commented on #641
@vrock28 You would need to include the dependencies (all minio-java dependencies) into your maven configuration

[2018-02-14 03:05] vrock28 commented on #641
@balamurugana: where can I find all the minio java dependencies list?

[2018-02-14 03:09] balamurugana commented on #641
@vrock28 https://github.com/minio/minio-java/blob/master/build.gradle#L54

[2018-02-14 03:53] vrock28 commented on #641
@balamurugana : Thanks for the pointer. Shouldn't these be bundled along with the minio jar itself rather than expecting these to be there before using the minio java client ? Or is it expected for folks to refer to the above file before starting ? At the very least, this should be called out somewhere in the documentation right ?

[2018-02-14 04:01] balamurugana commented on #641
@vrock28
1. I believe it is java development style (As I am not a java developer but seen many java projects).  Its required to have proper dependency map in your project.
2. Have you seen any project doing that? I aware none.
3. I don't see any project is doing that.  Project https://github.com/square/okhttp depends on okio which is not mentioned in the README doc.

The dependency issue is build

[2018-02-14 04:38] vrock28 commented on #641
@balamurugana :
Based on my earlier experience, either we bundle all dependencies into one (like minio.3.0.9-all.jar) or we provide a Maven pom.xml  file that explicitly calls out these dependencies. Not sure if this way is commonly followed.

[2018-02-19 09:17] balamurugana commented on #641
@vrock28  Hope https://stackoverflow.com/questions/17281927/how-to-make-gradle-generate-a-valid-pom-xml-file-at-the-root-of-a-project-for-ma helps

[2018-02-19 16:17] helderribeirosousa opened #660 "Set metadata for encrypted object (putObject())"
Hello,

I'm running a local instance of minio server and i wrote some basic java code leveraging "minio-java 3.0.11" to store an encrypted object on it.

[code]

This is working just fine.
The problem is that i now want to associate some metadata to this blob. Something like:

[code]
As far as i can tell there's no call to perform this. Or is there?

[2018-02-20 05:43] balamurugana commented on #660
@helderribeirosousa I don't see version of `putObject()` accepts encryption key and header map.  This issue is taken as feature request.

[2018-02-20 09:56] helderribeirosousa commented on #660
Just as i suspected @balamurugana.
Please make it a feature then. AFAIK Azure Blob Storage APIs (at least NodeJS) already support custom metadata for blob objects.

Thank you for help 👍

[2018-02-21 19:34] deekoder commented on #528
This would be a really great item for someone in the community to take on.

[2018-02-21 19:39] deekoder commented on #538
Another good item for the community to take on. @nitisht  please can you add this to our list of issues for community to take on.

[2018-02-21 23:29] dkushner opened #661 "Support composing objects from multiple existing ones."
In the same way that the Go SDK supports [composing](https://github.com/minio/minio-go/blob/706c81d3ee2a18cdd8239faf544de8a066e7e261/api-compose-object.go) new objects from existing object parts, the Java SDK should support this behaviour.

[2018-02-26 23:41] deekoder commented on #528
We have not had the cycles to fix this issue. Will close it and reopen it when we are able to. This is also a great item for community contribution, if anyone wants to take it up.

[2018-02-26 23:41] #528 closed

[2018-02-26 23:57] deekoder commented on #538
We currently do not have the cycles to fix this issue. So we are wondering if anyone in the community would like to help. Closing this issue until we actually work on it.

[2018-02-26 23:57] #538 closed

[2018-02-28 06:25] liuliliGithub opened #662 "can provide put object with user metadata and without size requirement"
hello, i hope minio java client can provide save object with user metadata, but without size requirement.
### content
 i find ```MinioClient```provide the method:
[code]
but inputStream size i cannot provider. in other words, i need read inputStream to confirm it's real size like ```MinioClient``` provide ```getAvailableSize```method(use in ``` private void putObject(String bucketName, String obje

[2018-03-01 06:09] liuliliGithub commented on #662
thanks put it in future milestone, can determine which version provide?

[2018-03-08 23:47] krishnasrinivas opened #663 "set/getBucketPolicy should take/return policy JSON file"
Currently the set/getBucketPolicy APIs are high level providing fine grained access. It was decided to make set/getBucketPolicy a low level API directly dealing with the policy json file to make the client libs simpler.

Changes similar to minio/minio-js#676 is needed.

[2018-03-12 20:28] deekoder commented on #660
Can someone from the community help us on this?

[2018-03-13 22:07] joseivanpo opened #665 "Unable to merge dex"
Hi Minio team!

I'm getting a error when trying to compile my apk after integrate Minio on my project, I also tried creating a new project and adding only Minio dependency without any other import and still get the error.

This is the Log:

My gradle:

        applicationId "com.rocketjourney.rocketjourney"
        minSdkVersion 21
        targetSdkVersion 26
        versionCode 1
        versionN

[2018-03-14 22:48] deekoder commented on #660
This will soon be not an issue. We are changing the API style. PR #663. Closing this as invalid.

[2018-03-14 23:18] deekoder commented on #660
Incorrectly close this issue for another.

[2018-03-15 09:25] mehmetcanker commented on #665
+1

[2018-03-15 10:16] nitisht commented on #665
@joseivanpo have you tried setting `multiDexEnabled` to true

[code]

[2018-03-15 10:31] mehmetcanker commented on #665
@nitisht not working with this config

[2018-03-15 16:59] balamurugana commented on #660
@helderribeirosousa It is planed to remove client side encryption and support only SSE-C.  When SSE-C support is added, it will come up with `headerMap`.

Hope this helps.

[2018-03-15 20:24] joseivanpo commented on #665
@nitisht Still not working

[2018-03-16 10:42] helderribeirosousa commented on #660
@balamurugana ok... Not the greatest outcome since i will need to handle the encryption and decryption myself.
But if i'm able to set the metadata so i can store the IV i guess i can live with it...

Thank you for the effort guys :)

[2018-03-16 11:00] helderribeirosousa commented on #660
Is there an ETA for that release?

[2018-03-16 16:22] nitisht commented on #665
@joseivanpo @mehmetcanker what is the android studio and gradle version you're using?

I found a similar issue here https://github.com/paypal/PayPal-Android-SDK/issues/448

[2018-03-16 22:25] joseivanpo commented on #665
I'm using gradle 3.0.1 and Android Studio 3.0.1, should I change the gradle version? @nitisht

[2018-03-19 11:32] ivoribeiro commented on #660
I would also like to know when this MR will be released.
Thanks.

[2018-03-19 16:04] protheusfr opened #666 "SSE-C on Java SDK"
Hello,

I the newly SSE-C implementation on Minio server, no issue to upload file with SSE-C encryption from with go SDK but I don't find nothing to do that with Java SDK (put or get).
Not yet released ?

[2018-03-19 16:30] harshavardhana commented on #666
SSE-C native support is still under progress for minio-java

[2018-03-19 16:33] protheusfr commented on #666
Ok thank you.
Any planned release date ?

[2018-03-19 20:12] deekoder commented on #666
Will let you know soon @protheusfr

[2018-03-19 21:01] protheusfr commented on #666
Thanks

Bastien Vigneron

[2018-03-22 20:39] deekoder commented on #665
We are not sure why this is happening.  Need to ask community for help with this issue. Marking help wanted.

[2018-03-22 20:41] deekoder commented on #665
@joseivanpo  i wonder if you can try and see if you get this idea in another IDE outside of Android studio/gradle systems.

[2018-04-01 08:18] liuliliGithub opened #668 "Concurrent Threads to putObject,some threads take about 2.x sec/thread"
## scene
i want test the speed of concurrent threads's putObject. then i set 20 threads and 100 objects/thread. and the upload time is a bit long. some threads take about 2.x sec, even 3 sec. i found client request not cost long time, but wait response always cost more. and i found the thread dump has more okhttp's connectionPool thread.
## my code
[code]
## result

## env
### client
- java-client

[2018-04-04 21:05] tobias- opened #670 "Wrong region is used by MinioClient"
We get `The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'eu-west-1'` messages.

By adding debug statements, the bug can be confirmed to be in the minio code, as we get the correct data from amazon. The method updateRegionCache() does not give the correct result though. It's kind of hard to reproduce, but was 100% reproducible in our pre-production, but impossible

[2018-04-09 09:42] balamurugana commented on #670
[code]

It is strange to see this error.  There could be two reason where an bucket location cache went wrong.

1. (updateRegionCache())[https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/MinioClient.java#L1211] failed to parse returned XML.  May be due to the issue mentioned and fixed in https://github.com/minio/minio-java/pull/669.
2. A bucket is removed and recreated in

[2018-04-12 15:54] s-spindler opened #673 "Return stats when getting object"
At the moment the various `getObject` methods return an `InputStream`, i.e. only the response body.
Additional information from the HTTP headers of the response (like content type, length etc.) is left out.

Amazon's Java SDK has similar methods but returns an object of type `S3Object` (see `com.amazonaws.services.s3.AmazonS3` which allows access to that information.
Maybe a similar approach is po

[2018-04-17 07:00] #663 closed

[2018-04-20 05:48] nitisht commented on #668
@liuliliGithub I tried reproducing the scenario, and can confirm the behaviour. Here are few observations

OkHttp [implements blocking APIs](https://github.com/square/okhttp/wiki/Concurrency), so probably there is certain amount of waiting before the connection is being reused.

Also, I tried using separate files for upload as `FileInputStream fileInputStream = new FileInputStream(filePath);` seem

[2018-04-23 02:52] liuliliGithub commented on #668
@nitisht thanks reply
1. i will try test separate files upload speed
2. i will try cofirm how much time taken for reuse connection

[2018-04-25 00:02] deekoder commented on #670
ping @tobias- can you confirm if 1 or 2 happened above?

[2018-04-25 00:05] nitisht commented on #665
@joseivanpo we need help to repro and troubleshoot. Closing it for now, please reopen when you are able to help us in the repro/troubleshoot

[2018-04-25 00:05] #665 closed

[2018-04-29 02:21] harshavardhana opened #674 "minio-java tests fail with latest minio master"
## Mint Automation
| Test | Result |
|:--- |:--- |
| mint-xl.sh | :x: [more...](#b24715f2-e4ad-4def-80d3-79bbac64c0ab) |
| mint-fs.sh | :x: [more...](#b55ae299-a7bf-47e3-9896-0ac2c01ce7f7) |
| mint-dist-xl.sh | :x: [more...](#4f58cdcd-09e9-4a1c-b221-258563dab245) |
| mint-gateway-s3.sh | :x: [more...](#9c28e69d-990e-4ad0-bdf9-19116c02b90a) |
| mint-gateway-azure.sh | :x: [more...](#83fe9939-51a5-4

[2018-04-29 08:01] #674 closed

[2018-05-04 08:34] shabtu opened #678 "Consecutive downloads fail."
**Summary**
I use Elasticsearch to index files in Minio to be available for search and retrieval.
The files are guaranteed to exist in Minio since they would not exist in Elasticsearch otherwise (bucket notifications are used for this).

**Expected Behavior**

The files should be downloaded to the same directory consecutively from Minio through the getObject- function.

**Current Behavior**
When I

[2018-05-07 15:38] liuliliGithub commented on #668
@nitisht i tried. i create folder and create 1000 files which size about 1.5MB, and i modified code:
[code]
and i upload two sences:
1. upload to one minio's node, then
[code]
2. upload to four minio's node, then
[code]

whether it takes longer because of file synchronization between cluster nodes？

[2018-05-08 00:13] deekoder commented on #670
ok got it @tobias- so we have merged #669 and made an official minio-java sdk release. Hence will close as fixed.

[2018-05-08 00:14] #670 closed

[2018-05-08 08:17] shabtu commented on #678
@deekoder There is no actual error, it is just that a few of the files are successfully downloaded and the rest are not. The files are found in the bucket but the retrievals fail after a few files.

Could the rate that I am trying to download them in be too much to handle for the server?

[2018-05-08 08:28] shabtu commented on #678
``API: CopyObject(bucket=retrievedfiles, object=44013796/885/2018-03-13/1486d5e5-9879-4630-82a2-752803f3299b/invoiceGenera
ted.pdf)
Time: 08:21:33 UTC 05/08/2018
RemoteHost: 172.17.0.1:60780
UserAgent: Minio (x86; x86) minio-java/dev
Error: file access denied
       1: cmd/fs-v1-helpers.go:237:cmd.fsStatFile()
       2: cmd/fs-v1.go:663:cmd.(*FSObjects).parentDirIsObject.func1()
       3: cmd/fs-v

[2018-05-22 14:11] nitisht commented on #668
Generally speaking yes, but can you explain the 4 node setup you started ?

[2018-05-30 02:36] deekoder commented on #673
We will discuss it here and let you know. Parking it in future for now.

[2018-05-31 23:57] deekoder commented on #661
@dkushner We will close this as a won'tfix for now and address this later after we finish up our current backlog of items.

[2018-05-31 23:57] #661 closed

[2018-06-01 08:08] nitisht commented on #450
@sachinwalia2k8 will it be possible to get in touch with you regarding couple of questions on your tusd deployment

[2018-06-01 19:07] kullanici0606 opened #680 "Wrong signature calculation when 80 port is used with https"
Hi,
We have a weird requirement that we have to run Minio server on 80 port with https enabled. However with this configuration, getPresignedObjectUrl calculates the signature wrong and clients fail to upload objects to Minio. It seems that there is a minor bug in the host header calculation:
https://github.com/minio/minio-java/blob/486c8b202befa20a1266951119dfdc504e26a35a/api/src/main/java/io/min

[2018-06-01 19:15] harshavardhana commented on #680
yep you are absolutely right @kullanici0606 - would you be able to send a PR to fix this?

[2018-06-01 20:56] kullanici0606 commented on #680
I sent the PR: https://github.com/minio/minio-java/pull/681
Could you please review it?

[2018-06-03 02:54] #680 closed

[2018-06-09 06:18] nitisht commented on #668
@liuliliGithub is there anything you want to address here, or we can close this?

[2018-06-20 23:05] kaankabalak opened #682 "Error while running S3 tests on Mint"
While I was running S3 gateway tests for minio-java on Mint, I encountered the following error:
[code]

[2018-06-20 23:09] deekoder commented on #682
for @aarushiarya25

[2018-06-20 23:58] Dwebtron opened #683 "Program type already present: javax.annotation.CheckReturnValue"
Hey all - I just started trying to use this library today, but I'm having some trouble trying to just run a simple compile / gradle sync. When I put the following in my app.gradle:

I get this:

Message{kind=ERROR, text=Program type already present: javax.annotation.CheckReturnValue, sources=[Unknown source file], tool name=Optional.of(D8)}

I'm not sure what to do. I've tried invalidating caches

[2018-06-21 00:13] balamurugana commented on #683
May be you would need to remove minio.jar as per https://stackoverflow.com/a/50086364

[2018-06-21 18:37] kannappanr commented on #682
This issue is similar to https://github.com/minio/minio-go/issues/997 you can do a fix similar to the one in https://github.com/minio/minio-go/pull/999

[2018-06-23 00:30] #682 closed

[2018-06-25 08:12] nitisht commented on #683
@Dwebtron is it possible to share the `app.gradle` file, I can try to reproduce it locally

[2018-06-25 08:14] nitisht commented on #668
@liuliliGithub closing due to no response. Feel free to reopen if there are further questions

[2018-06-25 08:14] #668 closed

[2018-06-26 08:36] nitisht commented on #683
Thanks, we'll take a look!

[2018-07-02 19:25] martinblaustein opened #686 "Protocol Exception - Unexpected status line: 0"
Hi,

When trying to perform different operations with the minio Client I get  the following exception
"Protocol Exception - Unexpected status line: 0" from the StatusLine class in okhttp3.internal.http; Bellow is the whole stack.

The same request that sometimes fails other times works just fine, retrying after a fail ussually works.

Is this be a minio issue with the request it's creating?

Excep

[2018-07-03 21:04] harshavardhana opened #687 "Functional tests wrongly treat `.amazonaws.com` as `s3.amazonaws.com`"
[code]

[2018-07-05 09:51] #687 closed

[2018-07-05 19:08] acooley opened #690 "Guava version used in this code base has known vulnerabilities."
Our client (Ernst & Young) is using MINIO on one of it's projects.  Snyk, our code scanning tool reports the following A9 (known vulnerability) in your code:

Deserialization of Untrusted Data
Vulnerable module: com.google.guava:guava
Introduced through: io.minio:minio@4.0.1
Detailed paths
Introduced through: com.ey:crane_app@0.0.1 › io.minio:minio@4.0.1 › com.google.guava:guava@18.0
Overview
com.

[2018-07-06 09:18] #690 closed

[2018-07-06 15:43] nitisht commented on #690
@acooley thank you for the detail bug report. We have updated the Guava version to `25.1-jre`. Will it be possible to rerun and confirm if the vulnerability is no longer present

[2018-07-16 08:36] nitisht commented on #683
@Dwebtron looks like downgrading `com.android.support:appcompat` fixed the issue for few people, can you try steps mentioned here https://stackoverflow.com/questions/49112190/error-program-type-already-present-android-support-design-widget-coordinatorl

[2018-07-17 23:01] deekoder opened #692 "catch up minio-java with encryption apis"

[2018-07-19 13:20] LahariGuntha opened #693 "Copying of a project in Minio fails."
Hi,

I am using MinioClient to copy the project in Minio. I have my code properly running in mylocalhost.But when I deploy the same code in cloud environment the operation is getting failed by throwing the below exception:

org.xmlpull.v1.XmlPullParserException: end tag name </head> must be the same as start tag <meta> from line 15 (position: TEXT seen ...</title>\n  </head>... @60:10)

  | at org

[2018-07-20 06:37] LahariGuntha commented on #693
Hi,

We have deployed Minio on Openshift using the below docker image:
docker pull icereed/openshift-minio

So the minio is present in openshift.

Earlier we used to have our code running in our local machine..and everything used to work fine.

But now we have our application containerized and launched it in Openshift. Then we started facing the Issue.

We have our java code similar to this:
 publ

[2018-07-20 08:39] balamurugana commented on #693
As I mentioned above the server is not sending expected XML (either error or success XML).  You could debug by having like
[code]

Another option outside of java is running using `mc --debug` will help.

[2018-07-20 08:40] nitisht commented on #693
Also `icereed/openshift-minio` is not an official Minio image @LahariGuntha Please use our official Minio Docker image from here https://hub.docker.com/r/minio/minio/

[2018-07-25 23:56] deekoder opened #695 "Document how minio-java can be used with clojure"
It seems we can use java code in Clojure. We need a doc that explains how minio-java can work with Clojure.

[2018-07-29 18:01] meatfly opened #696 "A connection to xxx was leaked."
i am getting message "A connection to http://minio-service.minio:9000/ was leaked. Did you forget to close a response body?" while InputStream i =calling client.getObject(bucket, path) more than 50/sec.

it looks after inpustream close must be called response.body().close()

[2018-07-29 23:14] kannappanr commented on #696
@meatfly Thanks for filing this issue. Do you see the issue all the time? Or is it happening in only certain cases. Can you please elaborate on that? Do you also have a sample program that we can use to reproduce the issue?

[2018-07-30 19:25] acooley commented on #690
Thank you for the fix.  I will assign an engineer to upgrade to the latest version and confirm the fix.

[2018-07-31 04:43] nitisht commented on #683
@Dwebtron any progress here

[2018-08-01 04:25] nitisht commented on #683
closing this due to no response, feel free to reopen if it is still not fixed.

[2018-08-01 04:25] #683 closed

[2018-08-02 07:50] nitisht commented on #692
Fixed by #694

[2018-08-02 07:50] #692 closed

[2018-08-02 20:27] acooley commented on #690
@nitisht Is the change you made part of the current 4.0.2 release?

[2018-08-02 20:50] acooley commented on #690
I believe Snyk is free for OpenSource projects, so you can do this yourself (https://snyk.io/plans) But...

I forked and scanned the current version of this project and there are still findings.  The one we identified is fixed, but there are others...

Deserialization of Untrusted Data
Vulnerable module: com.fasterxml.jackson.core:jackson-databind
Introduced through: com.fasterxml.jackson.core:jac

[2018-08-07 09:01] Praveenrajmani commented on #678
Hey @shabtu ,

Both aws s3 and Minio does not support `meta object puts`.
ie, if `a/b/c/d/e.txt` is an object to be put in a `bucket` , The `bucket` should not have any of the following objects

- "a/b/c/d"
- "a/b/c"
- "a/b"
- "a"

To put it simple - `The parent directory of an object should not be an object itself`

From the error stack above i infer that there is already an object `44013796` in

[2018-08-09 10:30] rushenn commented on #666
ETA: 2018-08-13 12:00

[2018-08-09 10:34] protheusfr commented on #666
Great, thank you @rushenn .

[2018-08-09 10:36] rushenn commented on #666
@protheusfr Sorry, It was a mistake. I'm working on the Buzz app and accidentally clicked on the ETA. Please ignore this.

[2018-08-09 10:46] nitisht commented on #666
@protheusfr the changes are already done and merged. Please refer https://github.com/minio/minio-java/pull/694

[2018-08-15 18:03] #695 closed

[2018-08-19 05:26] meatfly commented on #696
@kannappanr i found bug in my code, i call 2x InputStream i =calling client.getObject(bucket, path) but only once i.close(). Now it seems it is ok. I apologize for the issue.

[2018-08-19 05:42] #696 closed

[2018-08-21 19:35] protheusfr commented on #666
Thank you, I had to replace AWS lib to test.
I’ll keep you in touch.

[2018-08-23 21:47] sjrd218 opened #699 "Is it possible to update the version of Jackson ref'd in build.gradle?"
It appears the version of Jackson referenced in the build.gradle file is old and vulnerable to data deserialization attacks. Is it possible to update to the latest version of Jackson in the 2.9 series?

[2018-08-24 17:10] nitisht commented on #699
fixed by #700

[2018-08-24 17:10] #699 closed

[2018-08-29 19:45] deekoder commented on #678
@shabtu  please let us know if this helped. We will close this for now. Could you reactivate it if you think we haven't addressed your concern?

[2018-08-29 19:45] #678 closed

[2018-08-31 14:17] LahariGuntha opened #701 "Getting.."The difference between the request time and the server's time is too large" while checking if bucket Exists."
Hi...
I am trying to clone Bucket ion Minio..

It used to work fine..but all of a sudden started throwing the below error:

My code is of below format:
MinioClient minioClient = new MinioClient("https://play.minio.io:9000", "Q3AM3UQ867SPQQA43P2F", "zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG");
        boolean isExist = minioClient.bucketExists("asiatrip");
      if(isExist) {
        System.out.prin

[2018-08-31 14:30] nitisht commented on #701
Can you confirm if the time on the client machine is set correctly

[2018-08-31 14:59] LahariGuntha commented on #701
Hi Nitisht,

We are having Minio as a docker container. We are hitting minio from another application which is also a docker  container. I have checked the time on both the containers. It is same.I did not get what to change because both are having the same time set.

Thanks,
Lahari G

[2018-08-31 15:27] nitisht commented on #701
well the URL i see in the issue is of our Play server so I got confused.

Can you paste sample code snippet for us to reproduce the issue

[2018-09-01 09:15] harshavardhana commented on #701
@LahariGuntha setup ntp on client and as well as servers it will work fine.

[2018-09-04 14:47] sjrd218 commented on #699
Can we get a build that incorporates this fix? We are currently unable to use this library in our product because of the vulnerability in the current release, and we'd really like to use your excellent library. Thanks!

[2018-09-04 14:48] nitisht commented on #699
Sure, we'll make a release soon @sjrd218 cc @deekoder

[2018-09-06 03:44] nitisht commented on #701
@LahariGuntha were you able to setup ntp on client and server

[2018-09-06 10:07] LahariGuntha commented on #701
Hi,

Since both the applications are containers..I have checked the time in both the containers. Both are in Sync.

I have a small query:
According to me:
Client will be the container from which I am accessing Minio and the server will be Minio container

Is it the same from what you meant by the server and the client??

[2018-09-06 10:07] nitisht commented on #701
That is correct

[2018-09-06 13:49] LahariGuntha commented on #701
Hi,
I have checked the time in both the containers. Both are having same time.

[2018-09-06 23:52] DeepSnowNeeL opened #702 "Docker container name as endpoint"
Cross posting as I have the same issue with the Java library :

"minio_test" doesn't work as endpoint but it resolves thanks to the docker DNS system, please allow for simple name endpoints. I fixed it temporarly by using http://minio_test:9000 as my endpoint

See this for c# lib discussion :
https://github.com/minio/minio-dotnet/issues/238

[2018-09-07 06:05] LahariGuntha commented on #701
Hi,

Yeah...My code is referring to Our Minio server only and moreover we are facing this issue intemittently.

[2018-09-07 06:15] nitisht commented on #701
Can you pls join us on Slack https://slack.minio.io we can check further on possible causes for this

[2018-09-11 17:31] MeLean opened #703 "More than one file was found with OS independent path 'org/joda/time/format/messages_en.properties'"
When I have in my project dependencies:
[code]
I got that kind of exception. I google it and I found this solutions  [here](https://stackoverflow.com/questions/29568964/gradle-duplicate-files-during-packing-messages-properties-of-jodatime
)
But none of them helped.
When I tried to exclude joda-time as fowls:
[code]
I got exception:

[2018-09-11 20:37] kannappanr commented on #703
@MeLean Thanks for reaching out to us. We will take a look at this and get back to you.

[2018-09-12 06:48] MeLean commented on #703
javax library is used by "org.greenrobot:eventbus" wich is included in my project too.

[2018-09-13 02:44] nitisht commented on #701
@LahariGuntha any progress here?

[2018-09-17 07:40] LahariGuntha commented on #701
Hi Nitisht,

The Issue we are facing is Intermittent. We did not face this Issue again.

[2018-09-17 07:42] nitisht commented on #701
okay, thanks. I am closing this issue for now, please feel free to reopen/join us on slack if it happens again.

[2018-09-17 07:42] #701 closed

[2018-09-26 19:31] krishnasrinivas opened #705 "Support for metadata in putObject"
One of the requests that we got at the conference here was to support metadata for putObject (just like how we support it in minio-go)

[2018-09-27 16:20] nitisht commented on #705
@krishnasrinivas would this work http://minio.github.io/minio-java/io/minio/MinioClient.html#putObject-java.lang.String-java.lang.String-java.io.InputStream-long-java.util.Map-

There is already option to add metadata in `headerMap` and use this API

[2018-09-30 19:25] panteparak opened #706 "Unable to get first X bytes of object"
I am unable to get the first X bytes of object via getObject(String bucketName, String objectName, long offset, Long length). Specifying a 0 offset and X length would return an entire file rather than bytes from 0 - X-1

Directly Quoting RFC 2616 Page 138, Regarding Byte range.

Further inspection of the source code, I found that if offset is less than or equal to 0, range header would get ignored

[2018-10-01 07:59] harshavardhana commented on #706
can you paste your example code? @panteparak

[2018-10-01 07:59] harshavardhana commented on #706
also what is the server in question here?

[2018-10-01 09:09] panteparak commented on #706
I am using Minio server
this is sample code
`minioClient.getObject("ABC", "somefile", 0, 10)`

Expected content: get input stream with 10 bytes. But I got an entire file content.

[2018-10-02 07:46] cwurbs commented on #705
@nitisht ,that's great to hear. But the Java SDK documentation that people stumble upon (https://docs.minio.io/docs/java-client-api-reference.html) is missing that part. Although it is present for the others language SDKs.

[2018-10-03 09:17] sinhaashish commented on #706
PR #707 resolves it.

[2018-10-03 10:31] Praveenrajmani commented on #705
Yes we already have meta data support for PUT [https://github.com/minio/minio-java/blob/master/examples/PutObjectWithMetadata.java](url) . Need to update the docs though..

[2018-10-04 15:32] #706 closed

[2018-10-12 09:59] roshu420 opened #710 "invalid XML: no alias declared for namesapce <> when running GetBucketNotification and SetBucketNotification"
I'm trying to run GetBucketNotification from minio java examples in Github and when I run the app, it gives me `invalid XML: no alias declared for namesapce <>`. The exception is thrown when the program tries to execute `NotificationConfiguration notificationConfiguration = minioClient.getBucketNotification("bucket-name");` This is the full stack trace.
[code]
The same happens when I try to run Se

[2018-10-12 18:31] kannappanr commented on #710
@roshu420 We do not support notifications in Gateway mode. I believe you are running against a minio instance running in Gateway mode, based on the slack conversations that I noticed. closing this issue based on that. Please feel free to re-open the issue if that is not the case.

[2018-10-15 07:06] nitisht commented on #710
@kannappanr this is not in Gateway mode, but Server single node mode.

[2018-10-18 10:04] gbKidCoding opened #711 "java client support 'Bucket Notification' api ?"
can't find it in java client api

[2018-10-18 14:05] kannappanr commented on #711
@gbKidCoding Yes it does, please look at https://github.com/minio/minio-java/blob/master/examples/GetBucketNotification.java , https://github.com/minio/minio-java/blob/master/examples/RemoveAllBucketNotification.java and https://github.com/minio/minio-java/blob/master/examples/SetBucketNotification.java Will update the docs to reflect these APIs

[2018-10-18 20:28] deekoder commented on #711
@gbKidCoding  closing this. If you feel something is really missing that you need, please feel free to reactivate this issue.

[2018-10-18 21:53] deekoder commented on #711
we do need to link these and add them to our API doc.

[2018-10-19 01:12] gbKidCoding commented on #711
@kannappanr  Thanks!

[2018-10-19 01:12] #711 closed

[2018-10-19 01:49] songzijiang commented on #711
it helps me a lot

[2018-10-19 05:48] songzijiang opened #712 "How to support Topic or Cloud Function based notifications."
i'm trying to set the notifications but it gievs me `io.minio.errors.ErrorResponseException: Minio server does not support Topic or Cloud Function based notifications.`what should i do to deal with the problems

[2018-10-19 06:34] gbKidCoding commented on #710
same problems `+1`

[2018-10-19 06:46] nitisht commented on #710
We're already looking into this, will try to fix soon

[2018-10-19 18:30] kannappanr commented on #712
This looks like a duplicate of #710

[2018-10-20 02:42] songzijiang commented on #712
yep,it happend when i new the object.and if i get object from the minioclinet,it throws the exception like #710

[2018-10-22 02:01] songzijiang opened #713 "Is it possible to show a picture with custom resolution"
i want to resize an image when it is shared.can u add the feature in future,thx.

[2018-10-22 02:05] songzijiang opened #714 "Is this possible to show a picture with custom resolution"
i want to resize an image when it is shared.can u add the feature in future,thx.

[2018-10-22 16:34] kannappanr commented on #714
closing this as duplicate of #713

[2018-10-22 16:34] #714 closed

[2018-10-22 16:40] kannappanr commented on #713
@songzijiang Can you check out if this will work out for you? https://stackoverflow.com/questions/41281024/resize-existing-images-in-s3-bucket-folder

[2018-10-23 01:06] songzijiang commented on #713
it looks like will slove my issue,thx

[2018-10-23 01:06] #713 closed

[2018-10-23 10:49] mindscratch opened #715 "Implement bulk delete"
The other minio SDK's ([minio-go](https://docs.minio.io/docs/golang-client-api-reference.html#RemoveObjects) for example) provide the ability to delete objects in bulk, which is faster than deleting objects one at a time. It would be nice if the java SDK provided similar functionality.

[2018-10-23 10:50] nitisht commented on #715
Thanks @mindscratch we'll take a look soon

[2018-10-24 02:07] kannappanr opened #716 "Azure Gateway: presignedPostPolicy functional test fails"
presignedPostPolicy test failed on Azure gateway.
[code]

[2018-10-24 17:55] Praveenrajmani commented on #716
I tried running the tests locally here. It is working fine, `./gradlew runFunctionalTest` ran successfully and gave me ![image](https://user-images.githubusercontent.com/5410427/47450586-46ca2100-d7e3-11e8-8006-6e9a0aac449e.png)

From the error log provided, i can infer `timeout exception` which is probably from the azure side. AFAIK we can set a client timeout `minioClient.setTimeout()` to 15mins

[2018-10-24 22:57] mindscratch commented on #715
For those interested, the [AWS SDK for Java](https://aws.amazon.com/sdk-for-java/) implements bulk deletes. You can include just the S3 portion of the sdk by using [aws-java-sdk-s3](https://mvnrepository.com/artifact/com.amazonaws/aws-java-sdk-s3).

[2018-10-25 05:35] kannappanr commented on #716
@Praveenrajmani When the connection is slow for some reason then https://github.com/minio/minio-java/blob/5.0.1/functional/FunctionalTest.java#L1803 throws an exception. Default timeout in the case of  `okhttpclient` is 10 seconds. if you look at the duration in the error log entry,  it is greater than 10 seconds. In the case of success scenarios, this value will be less than 10 seconds.  If you i

[2018-10-25 11:38] NathanAtKadaster opened #718 "XMLPullParserException on non XML error ResponseBody"
(This continues on #354 but I cannot re-open that issue so to not hijack that thread I made opened a new issue. )

So to clarify this a bit more. I stumbled upon this when trying to make a new bucket and the lack of logging is a bit of a pain since only after I found this thread (#354), I was able to find out what happened.

The isssue is that the client does not do any type of content negotiation

[2018-10-26 15:33] sberequek opened #720 "The method putObject doesn't save custom metadata"
Hi,
when I try to save a custom Map to metadata with put_object, it saves only keys which starts with 'X-Amz-Meta', all other key are ignored.

[2018-10-26 17:54] kannappanr commented on #720
@sberequek If you take a look at https://github.com/minio/minio-java/blob/master/examples/PutObjectWithMetadata.java#L72

`X-Amz-Meta-...` is the custom metadata. If you want to add custom metadata, you will have to prefix it with `X-Amz-Meta`

[2018-10-26 18:53] eco-minio opened #721 "Upload with String() method does not work"
Code exception:
[code]
Gateway error:
[code]

[2018-10-26 18:56] eco-minio commented on #721
Should have filed in sdk, closing

[2018-10-26 18:56] #721 closed

[2018-10-26 21:42] harshavardhana commented on #718
When you are creating the bucket what is the server sending the response here?

[2018-10-29 13:36] kannappanr commented on #720
@sberequek Closing this issue as answered. Please feel free to open other issues if you have further questions.

[2018-10-29 13:36] #720 closed

[2018-10-30 00:45] deekoder commented on #662
We will consider this for future and so I will close it for now and reactivate once we have some more bandwidth.

[2018-10-30 00:45] #662 closed

[2018-10-30 00:47] deekoder commented on #673
We will consider this work when we are done with the current set of priorities on our plate. Until then I will close it. We reactivate closed issues when we are done with current issues.

[2018-10-30 00:47] #673 closed

[2018-10-30 22:51] deekoder commented on #660
@aead  can we close this? Since the WIP pr is also closed. We can reopen it again and do this when we have more bandwidth.

[2018-10-31 00:13] kannappanr commented on #660
Closing this PR as Server Side encryption side support is now available in `minio-java` SDK

[2018-10-31 00:13] #660 closed

[2018-11-01 06:08] kannappanr commented on #705
@Praveenrajmani, Just to clarify, looking at http://minio.github.io/minio-java/io/minio/MinioClient.html#putObject-java.lang.String-java.lang.String-java.io.InputStream-long-java.lang.String-javax.crypto.SecretKey- we do not seem to have metadata support in the case of encrypted `putObject` calls. Maybe that is also something that we need to add.

[2018-11-01 06:49] Praveenrajmani commented on #705
Yes @kannappanr, looks like we already have provision for encrypted putObject with metadata [https://github.com/minio/minio-java/blob/8ad645bd3829f20251756a535773cffc87c79bac/api/src/main/java/io/minio/MinioClient.java#L3414](url) which is a private class. We need to expose it by making it public. Will send a PR for this

[2018-11-01 22:13] kannappanr commented on #712
closing this issue as duplicate of #710

[2018-11-01 22:13] #712 closed

[2018-11-01 22:18] kannappanr commented on #705
@Praveenrajmani I will open a new issue to track the documentation update. But in the meantime, while you add new API in Java, please make sure that corresponding API's documentation is updated as part of that PR.

[2018-11-02 05:57] Praveenrajmani commented on #686
looks like the server reponse's status-line is corrupted and not in this particular format `Status-Line = HTTP-Version SP Status-Code SP Reason-Phrase CRLF`.
From the above trace, i can infer that the exception was raised when `bucketExists` was called. Tried reproducing with the same. It doesn't happen now.
Can you check if this still persists ? @martinblaustein

[2018-11-02 06:20] Praveenrajmani commented on #702
Yes @DeepSnowNeeL, We need to set the endpoint to `http://minio_test:9000` and `minio_test` resolves from the docker dns registry. What you have done is correct so far

[2018-11-02 13:08] martinblaustein commented on #686
Hi @Praveenrajmani working on version 4.0 the issue keeps happening. Btw just by adding 1 retry after each request the issue is "solved".
Updating to the latest version should fix the error completly?

Thanks

[2018-11-02 13:16] Praveenrajmani commented on #686
Hi @martinblaustein , Which minio ( server ) version are you using ? is the issue happening in ` bucketExists` calls ?
Yes, you can try updating the server version and sdk version also

[2018-11-02 13:17] Praveenrajmani commented on #686
Hi @martinblaustein , Which minio ( server ) version are you using ? is the issue happening in bucketExists calls ?
Yes, you can try updating the server version and sdk version also

[2018-11-02 16:08] martinblaustein commented on #686
We are working with 4.0.0 and yes I see the issuie happing on the bucketExists call.

I will try updating the version and see if the issue is solved.

[2018-11-02 17:02] kannappanr opened #723 "Fix API documentation"
The API documentation is a little outdated. This needs to be up to date.

[2018-11-05 08:09] s-spindler commented on #673
May I suggest keeping it open for now so that it is visible for anybody who would want to tackle and contribute it?

[2018-11-06 05:42] #716 closed

[2018-11-07 16:44] z0mb1ek opened #724 "cluster endpoints in client"
Hi. I see in constructor only one endpoint, but if I have a cluster, what should I do?

[2018-11-07 16:45] harshavardhana commented on #724
Use a load balancer or round robin DNS for all IPs - it is by design to take single endpoint.

[2018-11-07 16:47] z0mb1ek commented on #724
thx

[2018-11-07 16:47] #724 closed

[2018-11-09 10:43] sinhaashish commented on #715
@mindscratch  Please[ refer](https://github.com/minio/minio-java/blob/master/examples/RemoveObjects.java) . This is already an existing functionality .[PTAL](https://github.com/minio/minio-java/issues/467)

[2018-11-09 11:06] mindscratch commented on #715
@sinhaashish The example that you referenced does delete multiple objects, but it does so by making multiple requests. The AWS S3 API supports deleting multiple objects with one HTTP request.

Looking at the [MinioClient.java](https://github.com/minio/minio-java/blob/master/api/src/main/java/io/minio/MinioClient.java) there is not function for deleting multiple objects with one HTTP request.

[2018-11-09 11:08] mindscratch commented on #715
Oh, I see now, thanks for the reference.

[2018-11-09 11:08] #715 closed

[2018-11-09 18:44] kannappanr commented on #712
@songzijiang Minio does not support Topic notifications. We will update the example such that you can use it in Minio.

[2018-11-09 21:51] kannappanr commented on #710
Marking this issue as closed as https://github.com/minio/minio/pull/6789 has been merged. There is also another PR https://github.com/minio/minio-java/pull/725 to fix `SetBucketNotification.java` to work with Minio.

[2018-11-09 21:51] #710 closed

[2018-11-09 23:39] kannappanr commented on #718
@NathanAtKadaster Did you get a chance to work on the PR?

[2018-11-11 03:59] sinhaashish commented on #715
The documentation is already present under `removeObjec`t tag . Refer . The second part under `removeObject` has all the details .
[code]

[2018-11-11 03:59] sinhaashish commented on #723
@kannappanr  The documentation is present under `removeObject` tag . [Refer](https://docs.minio.io/docs/java-client-api-reference#removeObject) .  The second part under `removeObject` has all the details .
[code]

[2018-11-11 19:05] Dwebtron opened #726 "Error: Program type already present: javax.annotation.Nonnull$Checker"
I let this project sit for a while, and just came back to it. Unfortunately I'm still having an issue similar to this one : https://github.com/minio/minio-java/issues/683

The full error is :

I created a brand-new app to test this on, with the only change being to add :

Since this is happening for me on multiple versions of minio, is this my fault somehow? This is my full gradle:

I've tried mes

[2018-11-12 16:08] kannappanr commented on #726
@Dwebtron Did you get a chance to try out what was suggested in https://github.com/minio/minio-java/issues/683#issuecomment-405180172

Please let us know if that workaround fixes the issue for you.

[2018-11-13 07:35] LahariGuntha commented on #693
Hi,

Tried to deploy Minio on Openshift using Official image.
We are unable to bring up the Pod. The pod is continuously going to CrashLoopBack off state.

Here are the sequence of steps that are getting executed starting from the last while deploying the Minio in Openshift.

Back off
Back-off restarting failed container
19 times in the last 4 minutes

Failed sync
Error syncing pod
5 times in the

[2018-11-14 15:31] manics opened #728 "Should non-AWS-compatible buckets names be allowed?"
Currently bucket names must be compatible with AWS. This is enforced by `checkBucketName` in `createRequest`: https://github.com/minio/minio-java/blob/5.0.2/api/src/main/java/io/minio/MinioClient.java#L829

It's possible for bucket names on other S3 servers to not follow the same rules, e.g. they can contain uppercase, for example, minio server in nas gateway mode, and I've come across at least on

[2018-11-14 17:06] harshavardhana commented on #728
We do not want to diverge away on this from AWS, we support federation based on bucket names as DNS it will become incompatible and complex.

[2018-11-15 02:16] Dwebtron commented on #726
The workaround in that link was to change the downgrading

 version to another version, right?. Yes, I tried + and - versions with no luck.

[2018-11-15 06:01] LahariGuntha commented on #693
Hi ,

We have Minio deployed  as container in Openshift. We are trying to access Minio from another container that is deployed in same Openshift.

I am trying to create a bucket in Minio.For that first I am checking whether Bucket exists or not..
Using client.bucketExists(<BucketName>)
Here I am getting the org.xmlpull.v1.XmlPullParserException

I am again facing the same Issue again and again ver

[2018-11-15 09:41] manics commented on #728
Thanks for answering.

[2018-11-15 09:41] #728 closed

[2018-11-15 16:58] #705 closed

[2018-11-20 05:45] LahariGuntha commented on #693
Hi,

Is there any other way to resolve this?

Thanks and Regards,
Lahari G

[2018-11-20 06:20] muzammilhussnain14 commented on #726
@nitisht, @Dwebtron  I just solved this issue and here is the link of stack-overflow answer for this issue. [Stackoverflow Answer](https://stackoverflow.com/questions/53374677/minio-gradle-dependency-android-javax-annotation-checkreturnvalue/53387292#53387292)

[2018-11-20 06:42] nitisht commented on #693
@LahariGuntha are you still using `icereed/openshift-minio` ?

[2018-11-20 07:16] nitisht commented on #726
Thanks @muzammilhussnain14 this is very helpful!

[2018-11-21 11:07] LahariGuntha commented on #693
Hi Nitisht,

No we have deployed new Minio using Minio's  official docker Image.

But still we are facing the same issue again and again very frequently.

Thanks and Regards,
Lahari G

[2018-11-23 06:30] LahariGuntha commented on #693
Hi,

Tried Using Minio client. It is working . But can we guarentee that we will not face this exception if we use mc client in a container??

But we have some Issues with it.

According to the below code:

 boolean isExist = minioClient.bucketExists("asiatrip");
  if(isExist) {
    System.out.println("Bucket already exists.");
  } else {
    minioClient.makeBucket("asiatrip");
  }

We first check

[2018-11-27 02:41] nitisht commented on #726
closing this due to no response, feel free to reopen @Dwebtron if above fix doesn't work for you

[2018-11-27 02:41] #726 closed

[2018-11-27 10:07] muzammilhussnain14 commented on #701
@nitisht  I'm using MinIO Java client for uploading files. On Android devices Some time it's common for users to have incorrect time. This shouldn't fail the uploading of file. anyone workaround to solve this issue for users having incorrect time on their android devices ?

[2018-11-27 14:51] nitisht commented on #701
@muzammilhussnain14 current `timestamp` is a part of S3 signature calculation process (ref: https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html) - i.e. server uses current time to validate a REST request sent by the client. If client is using incorrect time (or different time than server) this validation will fail. This is true if you use AWS S3 as well. This is how the S

[2018-11-28 05:51] muzammilhussnain14 commented on #701
Anyway to  set `x-amz-date` in header instead of device time using Java client ?

[2018-12-03 13:57] wubli opened #732 "makeBucket results in the region is wrong; expecting 'us-east-1'."
Minio server running with `test-region` region.

Minio Client:
[code]
results in
_io.minio.errors.ErrorResponseException: The authorization header is malformed; the region is wrong; expecting 'us-east-1'._

Is it expected behavior?

Replacing `US_EAST_1` with my region String in
https://github.com/minio/minio-java/blob/ce2a1f4ab155e1d2a690580310537643b1fdd37a/api/src/main/java/io/minio/MinioClient

[2018-12-04 01:59] deekoder commented on #686
@martinblaustein I will close this as not repro. Please reopen this if you still see it.

[2018-12-04 01:59] #686 closed

[2018-12-04 02:00] deekoder commented on #702
Closing this as working as intended. Please reopen if you think this needs to be addressed further.

[2018-12-04 02:00] #702 closed

[2018-12-05 15:15] #732 closed

[2018-12-12 02:29] shpwang opened #738 "I call putObject() API, when there are incomplete parts, it still putObject() and gets the same etag again. I found my md5Hash and the part.etag() look very different. Is there anything wrong?"
I just use JAVA main function for testing(JAVA sdk).

Minio version: 5.0.4
![image](https://user-images.githubusercontent.com/10089768/49841913-73b6af80-fdf4-11e8-8110-0dca8571f497.png)

The steps are:
1. I called "putObject()" to upload a 1G size file.
![image](https://user-images.githubusercontent.com/10089768/49841807-fa1ec180-fdf3-11e8-83ae-938e817571b2.png)
2. Interrupt the process after few

[2018-12-12 03:01] nitisht commented on #738
we'll take a look @shpwang

[2018-12-12 03:43] shpwang commented on #738
@nitisht Thank you so much

[2018-12-14 11:16] LahariGuntha commented on #693
Hi kannappanr,

Tried capturing the stderr. It is working fine.

Thank you for the reply.

Thanks and Regards,
Lahari G

[2018-12-14 15:10] kannappanr commented on #693
@LahariGuntha Closing this issue now. Please feel free to reach out to us if you have more questions.

[2018-12-14 15:10] #693 closed

[2018-12-17 15:43] vadmeste commented on #468
Fixed by https://github.com/minio/minio-java/pull/727

[2018-12-17 15:43] vadmeste commented on #468
Can we close this ?

[2018-12-17 15:45] kannappanr commented on #468
Closing this issue as this has been fixed by #727

[2018-12-17 15:45] #468 closed

[2019-01-06 16:07] amitga-rnd opened #744 "Issues with chunked transfer-encoding streams"
Hi, I'm using the latest release of the minio-java client (5.0.6), and latest minio server.

I have a web app written in Java 8, using Jersey 2 as a Rest Server.
My app accepts uploads of files, and saves them to minio. Because I want to support large files, I use chunked transfer encoding.

When I upload to minio, and set the Content-Length parameter of `putObject` (which my client sends), the fi

[2019-01-06 16:30] kannappanr commented on #744
@amitga-rnd Thanks for reaching out to us. Based on what you are saying, I see that there are two issues

1. The Content-Length parameter in `putobject` if set, the data gets corrupted.
2. OOM error.

Can you provide a sample code to reproduce the first issue?

We will also try to reproduce both errors and get back to you.

[2019-01-07 11:50] amitga-rnd commented on #744
OK, I will try to provide some code, although its a bit complicated:
I forgot to say that the issue only happens when the `InputStream` given to `putObject` is a sort of network stream (not really seekable, I suppose). When I tried to reproduce using a `FileInputStream`, it doesn't happen. The same with streams based on memory (like `ByteArrayInputStream`), they all work fine.
I think the problem

[2019-01-07 12:14] amitga-rnd commented on #744
In order not to complicate the sample code with my web app, I have successfully reporoduced the problem reading a stream from URL.
I have downloaded the file locally too, and the test compares the contents of the local file, to the contents of the object received from minio after it was uploaded as a stream.
Here is the test I ran:
[code]

[2019-01-08 10:08] marcadella commented on #450
Why did you guys add additional metadata param to upload object from InputStream ONLY???

[2019-01-08 10:17] marcadella opened #745 "Cannot add custom meta data with putObject in general"
You implemented custom metadata with putObject(InputStream, Size). It would take about 10 minutes to implement it for all the putObject methods. Why not doing it??
Best regards.

(Generalization of https://github.com/minio/minio-java/issues/662)

[2019-01-08 18:34] kannappanr commented on #745
@marcadella We will take a look at it and implement it. On a quick look, we might have to add one for the variation of

`putObject(String bucketName, String objectName, ServerSideEncryption sse, String fileName)`
 and may be

`putObject(String bucketName, String objectName, String fileName)`

Will implement it soon.

[2019-01-08 18:44] kannappanr opened #746 "Misleading implementation of minio-java:putObject"
Copying the contents of the issue https://github.com/minio/minio/issues/7053 as this issue belongs to this repo.

putObject should take an OutputStream and not an InputStream. It works ok with IS, but it is not very professional (and misleading). In addition the SDK doc does not mention that one should close the IS (as it is done for getObject).

[2019-01-09 08:17] marcadella commented on #746
Ok I saw AWS is using InputStream as well, my bad. Thanks for the quick answer and sorry if I was a bit rude.

[2019-01-09 15:50] kannappanr commented on #746
@marcadella No problem. Closing the issue based on the comments above.

[2019-01-09 15:50] #746 closed

[2019-01-10 12:08] amitga-rnd commented on #744
Is there any update on this issue?
Did my example help you reproduce the problem ?
Thanks in advance :-)

[2019-01-20 23:30] nicoraynaud opened #748 "Unable to set bucket policy from MinioClient"
Hi,

I am trying to set a Bucket Policy using the MinioClient of the Java lib.

I tried using the sample code in the javadoc without success, and I always get the same error :

[code]

And indeed, the lib sets the content length variable of the `executePut()` private methode to 0.

I think that it needs to be set to the actual value in order to work.

Here follows the conf of the minio server just

[2019-01-21 02:44] harshavardhana commented on #748
Have you tried removing the nginx proxy and awrting directly on server ?

[2019-01-25 01:10] sinhaashish commented on #744
I was able to replicate it . Its WIP as of now.

[2019-01-28 23:54] deekoder commented on #748
@nicoraynaud - It seems to work. I am closing this as working as intended. Please reopen if you think it's not working.

[2019-01-28 23:54] #748 closed

[2019-01-29 00:13] nicoraynaud commented on #748
Sorry, i havent had the time to double check. I trust it's working without the nginx proxy then.

But do you think it is ok to arbitrary set the content length of the queries to 0 ?

[2019-01-29 10:20] aead commented on #703
@MeLean Can you check that their is no {minio / minio-dependency}.jar in your lib folder? AFAICS this must be a compatibility issue - your relying on two incompatible dependencies...

[2019-01-29 19:14] deekoder commented on #718
ping @NathanAtKadaster would you be able to re-look at this in 2019? We would love a pr from you for this issue.

[2019-01-30 22:33] kannappanr commented on #723
I think this issue is closed via https://github.com/minio/minio-java/pull/730

@sinhaashish Please re-open the issue if that is not the case.

[2019-01-30 22:33] #723 closed

[2019-01-30 22:38] kannappanr commented on #738
@shpwang We have already merged a PR https://github.com/minio/minio-java/pull/741 As described in the PR, we will not try to resume multipart uploads when a `putObject` call that does a `multi-part upload` internally fails. We will be starting all over again. So, closing this issue as this issue is not valid anymore.

[2019-01-30 22:38] #738 closed

[2019-02-05 10:42] sinhaashish commented on #718
@NathanAtKadaster   According to S3 specification the server always sends an XML response and thus  client expects XML response. In this case the server response is plain text. This seems to be a sever issue. I will check how the aws-java sdk behaves in this situation , but for that i need to replicate the issue first.
Please elaborate the steps performed which helps to replicate the issue.

[2019-02-05 14:08] NathanAtKadaster commented on #718
Hello. Sorry for my absence here. I have not been able to get some time to work on this lately, but I would gladly help you out clarifying a bit more about our setup.

The S3 spec may describe that an S3 server will always send an XML response, but no one will guarantee that the response you will get comes from an S3 server. We should not assume that this is the case. As this will break if somethi